[2014-10-15 22:08] sslattery opened #1 "CDash Server"
Setup a CDash server for testing DTK locally. Link this server to this github repo for continuous/nightly testing of the library.

[2014-10-15 22:20] sslattery opened #2 "Implement and Test Parallel Search"
Implement and unit test the ParallelSearch class under the defined interface.

Tests:
1. Search the domain entities with their centroids and ensure the CrsGraph gives the pattern for the identity matrix (search the domain with itself).
2. Axis aligned mesh with random points
3. Rotated and translated axis aligned mesh with random points

[2014-10-15 22:22] sslattery opened #3 "Interface Tests and Sanity Checks"
Unit tests and sanity checks for implementations of the core interfaces. An explicit test is needed for the EntityIterator

Need to define sanity checks for: Entity, EntityImpl, EntityLocalMap, EntityShapeFunction, EntityIterator, EntitySet

[2014-10-15 22:26] sslattery opened #4 "Explicit Template Instantiations"
Provide a *_inst.cpp file with explicit instantiations for all DTK templates types that have a common set of typical template parameters. Do the same for Tpetra objects. This should dramatically reduce compile times.

So far, completed for: PointCloud/src/ -> `EuclideanDistance<int DIM>`

Add completed classes as we progress...

[2014-10-15 22:31] sslattery opened #5 "Implement and Test ConsistentInterpolationOperator"
Implement and test initial `ConsistentInterpolationOperator` implementation of `MapOperator`. This class will form the basis for finite element interpolation, basic volume-to-volume transfers, and other transfers that rely on simple collocation via basis functions.

Unit Tests:
1. Pure finite element interpolation on position function
2. Volume averaged basis with geometry->geometry transfer
3. Do

[2014-10-16 20:49] sslattery opened #6 "Default Implementation of `EntityLocalMap::normalAtReferencePoint()`"
A default implementation using a finite difference scheme and the current mapping infrastructure in `EntityLocalMap` is needed for the function `EntityLocalMap::normalAtReferencePoint()`

[2014-10-16 21:52] sslattery opened #7 "Develop Tolerance Scheme"
We need a consistent tolerance nomenclature for the multiple algorithms that require them. For example:

1. Point inclusion in reference cell
2. Newton solver
3. Safeguard checks
4. Common-refinement - numerous checks

[2014-10-16 22:01] sslattery opened #8 "BasicGeometryAdapters"
The BasicGeometryAdapter sub package contains basic geometric structures and implementations of the core DTK interfaces. These will not only be used by clients with basic needs but also as an implementation for testing the core operator/search interfaces for cases where basic geometries may be used.

Provide implementations and tests.

[2014-10-17 20:23] sslattery opened #9 "Filter Identical Points in MeshFreeInterpolator"
If a user gives multiple points with the same coordinates, rank deficiency will be generated in the linear systems. This will be a common use case when mesh nodes are used for interpolation.

Fix this by building a kD-tree and searching it with itself for identical points. Throw out those points.

[2014-10-17 20:40] sslattery opened #10 "MeshFree GlobalOrdinal Template"
Remove global ordinal template on mesh free code in favor of uint64_t

[2014-10-17 21:48] sslattery opened #11 "Template MapOperator on a scalar type"
`MapOperator` should become `MapOperator<Scalar>` to permit the transfer of data types other than double. There are a large variety of use cases where this is true.

**_Question**_: Does the shape function infrastructure need to also be templated on this scalar type or can we leave this only at the operator level? For now assume DOFs are of a scalar type and shape function data is double.

[2014-10-18 14:39] #8 closed, assigned to sslattery

[2014-10-18 14:47] sslattery opened #12 "Implementation of EntityIterator for Containers"
An implementation of `EntityIterator` would be useful for basic containers. These include all standard library types that implement begin, end, size, and who's dereference operator for `iterator` or `const_iterator` returns an `Entity` instance rather than some compound type.

For example:
`template<Container>`
`ContainerIterator<Container>::ContainerIterator( const Teuchos::RCP<Container>& contai

[2014-10-20 15:23] #11 closed, assigned to sslattery

[2014-10-21 21:03] #2 closed, assigned to sslattery

[2014-10-28 15:30] sslattery opened #13 "Implement and Test IntegralAssemblyOperator"
An implementation of the IntegralAssemblyMap inside of the new operator interface is needed to recreate that functionality under the new API. This task is complete when it is tested.

[2014-10-29 16:24] sslattery opened #14 "Provide a default implementation of basis gradient using finite difference"
Identical to the normal implementation in #6 we can use finite difference ideas to provide a default implementation of the basis gradient computation.

[2014-10-29 19:53] sslattery opened #15 "Migrate Topaz to CommonRefinement Subpackage"
To start the common refinement integration, Topaz needs to be migrated to the new DTK structure. This issue is satisfied when we have the Topaz capability building and testing as a sub package. We do not need to refactor and wrap the common refinement implementation under the operator interface yet.

[2014-11-07 19:51] sslattery opened #16 "Fix Tpetra::Distributor calls in PointCloud"
The distributor calls in point cloud and the search unroll the coordinates and call the distributor three times. If the data is interleaved we don't need to do this. Fix these calls.

[2014-11-10 21:44] sslattery opened #17 "Setup doxygen documentation on gh-pages branch"
Setup a doxygen build and populate a gh-pages branch for online documentation

[2014-11-11 15:04] #16 closed, assigned to sslattery

[2014-11-11 15:07] #5 closed, assigned to sslattery

[2014-11-11 15:08] #9 closed, assigned to sslattery

[2014-11-11 15:10] sslattery opened #18 "PointCloud MapOperator Implementation"
Wrap the mesh-free interpolator in the MapOperator interface.

Question: should we blow away the interpolator api and just use the underlying subclasses? Probably not as this hides a lot of templating. We can also roll this information into a larger factor by creating a sublist.

This issue is resolved when we have a working spline and moving least square interpolator underneath the MapOperator in

[2014-11-11 17:05] sslattery opened #19 "STK Mesh Interface Implementation"
Write an initial implementation of STK mesh interfaces with tests and examples.

[2014-11-18 21:45] #19 closed, assigned to sslattery

[2014-11-18 22:58] sslattery opened #20 "Create DTKData Repository"
We need a separate repository for exodus files and other data for testing dtk as well as generating examples.

Also look at attachment options.

Remove the current exodus files from the git history.

[2014-11-19 13:43] #20 closed, assigned to sslattery

[2014-11-25 18:49] #18 closed, assigned to sslattery

[2014-11-25 19:00] #10 closed, assigned to sslattery

[2014-12-09 13:36] #17 closed, assigned to sslattery

[2014-12-12 16:20] sslattery opened #22 "Add domain/range filters to operate only on local entities in the PointCloud Subpackage"
There was a previous ticket talking about allowing users to provided ghosted nodes in the PointCloud operators. I discarded this by saying that the algorithm requires local uniqueness to solve the problem. We can let the user give us ghosts and provide a domain and range iterator filter that only operates on nodes that are local.

[2014-12-12 17:09] #22 closed, assigned to nobody

[2015-01-08 22:06] sslattery opened #24 "Add tolerancing/fuzzy math to coarse global search"
The bounding box computations in coarse global search have no tolerance so certain applications were failing to locate valid points where a shared interface is involved. A tolerancing scheme needs to be added to this algorithm. Tests should also be added.

[2015-01-13 16:20] sslattery opened #25 "Update Tpetra::CreateMultivectorFromView usage"
Tpetra::CreateMultivectorFromView using a Teuchos::ArrayRCP has been deprecated. This is used throughout the code to wrap raw data blocks in Tpetra::Multivector objects. Update the API to remove the deprecation warnings and conform with the new API.

[2015-01-14 02:41] sslattery commented on #24
I have added the fuzzy math and tests to the coarse global search. It is not clear whether this fixes the bug that Damien observed by but it does add the correct floating point math that was missing from this search.

[2015-01-14 02:41] #24 closed

[2015-01-14 16:09] dalg24 commented on #24
It did fix the big.

[2015-01-14 16:09] dalg24 commented on #24
*bug

[2015-01-14 21:56] dalg24 opened #26 "Add example scripts to configure dtk"
Scripts that we use should be available.
We have to ensure we keep them up-to-date.
Also we should put here any script we use on eos or any other hpc facility.

[2015-02-09 19:21] sslattery opened #27 "Create a MapOperator Factory"
The source has been refactored so all map operators reside in a single sub package. Add a factory to this sub package for building map operators.

[2015-02-09 19:22] sslattery commented on #25
This has been fixed.

[2015-02-09 19:22] #25 closed

[2015-02-11 18:22] sslattery opened #28 "Fix Failing/Passing SplineInterpolation test"
The SplineInterpolation test fails on my machine but passes on most of the CDash builds. There are CDash builds in which this test passes some nights and not others. The test started failing after Tpetra switched to view semantics as part of the Kokkos refactor. This issue will track the process of finding the bugs. It may be a memory leak.

[2015-02-11 18:40] sslattery commented on #28
valgrind seems pretty clean. I don't see any invalid reads or writes. messing around with the thyra operators gives some weird results. Maybe thyra wrappers for tpetra were not appropriately updated?

[2015-02-11 19:07] sslattery commented on #28
verified that on apply the target vector is being overwritten with zeros

[2015-03-24 18:36] sslattery commented on #27
This has been added. The factory works of a parameter list input. The parameter "Map Type" indicates the name of the map to be built. A sublist also named the same as the "Map Type" parameter value must exist and contain the necessary information to construct the subclass. Similar subclass types (i.e. point cloud operators) have their own factories called from this higher level factory.

[2015-03-24 18:36] #27 closed

[2015-03-24 18:37] sslattery opened #29 "L2 Projection Framework"
DTK needs a general shared domain and interface L2 projection framework.

[2015-03-24 18:38] sslattery commented on #28
After some work on this it is still not clear what the issue is. Although they involve a global linear solve at every apply of the operator, the splines are desirable because they are less sensitive to the choice of support radius. Still looking into this.

[2015-03-24 18:39] sslattery commented on #13
Do we need this now? I suspect with our new subsetting functionality and an integration API in the near future this would be very easy to achieve.

[2015-03-24 18:41] sslattery opened #30 "Integration Rule Client Interface"
To enable L2 projection and other general algorithms we need an integration framework. This should simply be a client API that provides integration rules on an entity-by-entity basis.

[2015-03-24 18:42] sslattery commented on #12
After a series of implementations for other mesh databases, it is clear that this functionality is not needed.

[2015-03-24 18:42] #12 closed

[2015-03-24 18:43] sslattery commented on #7
Should we do a code review on how we are using tolerances in the code at this point?

[2015-03-26 17:35] sslattery opened #31 "Implement Teuchos::Describable API for client subclasses"
Entity and EntitySet now inherit from Teuchos::Describable. Fill in the subclass implementations.

[2015-05-05 13:29] sslattery commented on #31
This is done.

[2015-05-05 13:29] #31 closed

[2015-05-05 13:30] sslattery commented on #29
A shared domain implementation has been completed. I suspect it could easily be generalized for shared domain problems.

[2015-05-05 13:31] sslattery commented on #28
It was identified that a bug in Tpetra caused this. Depending on the Trilinos version, using beta=0 for a matrix vector multiply (the default) caused the vector to be filled with zeros. The current 11.14 patch tarball passes in release and fails in debug while the current state of the public repository passes for both. Since this is passing using the current state of Trilinos, this is fixed.

[2015-05-05 13:31] #28 closed

[2015-05-05 13:32] sslattery commented on #30
This has been designed, implemented, tested, and used with the L2 Projection operator.

[2015-05-05 13:32] #30 closed

[2015-05-18 17:37] amccaskey opened #32 "Latest from MOOSE/Libmesh breaks DTK build"
Building DTK using the Libmesh install produced by the MOOSE update_and_rebuild_libmesh.sh script causes the following build error:

DTK_LibmeshEntityIntegrationRule.cpp: In member function ‘virtual void DataTransferKit::LibmeshEntityIntegrationRule::getIntegrationRule(const DataTransferKit::Entity&, int, Teuchos::Array<Teuchos::Array<double> >&, Teuchos::Array<double>&) const’:
DTK_LibmeshEntityI

[2015-05-18 17:49] sslattery commented on #32
I didn't know there was such a flag in the build. Looking at include/quadrature.h the build API only returns an AutoPtr<QBase> object. Is --enable-unique-ptr the default in the MOOSE build?

[2015-05-18 17:54] amccaskey commented on #32
Yea it's now the default in the script that pulls down and builds libmesh https://github.com/idaholab/moose/blob/devel/scripts/update_and_rebuild_libmesh.sh. They just recently added this, it wasn't there when we were doing all this DTK work before.

A quick look at the configure help says that this flag tells libmesh to "use a true unique_ptr implementation instead of libMesh AutoPtr"

[2015-05-18 18:12] sslattery commented on #32
Is there some typdef in a file that we need to include now? The quadrature API returns an AutoPtr so its not clear why it is returning a unique ptr.

[2015-05-18 18:13] sslattery commented on #32
Never mind. The quadrature api was changed. I will update and push.

[2015-05-18 18:17] sslattery commented on #32
Just did a push. Let me know if it works.

[2015-05-18 19:00] amccaskey commented on #32
That works. Thanks!

[2015-05-18 19:00] #32 closed

[2015-07-25 02:26] dalg24 opened #33 "configure"
I had forgotten to clone DTKData and make a soft link in DTK source dir and configure went through without error.
It crashed during build:

make[2]: *** No rule to make target `/Users/qdi/Projects/dtk/source/trilinos/11.14.3/DataTransferKit/DTKData/exodus/cube_mesh.exo', needed by `DataTransferKit/packages/Adapters/STKMesh/example/cube_mesh.exo'.  Stop.

We probably want to catch that at config ti

[2015-07-25 02:43] dalg24 commented on #33
also

ld: library not found for -l=/Users/qdi/Projects/dtk/gcc/install/opt/lapack/3.5.0/lib/liblapack.a

ok I wasn't so smart with that extra "=" sign but why the heck does't tribute ensure that liblapack.a exists?

[2015-07-25 02:51] dalg24 commented on #33
is that what LAPACK_LIBRARY_NAMES:STRING is for?

[2015-07-25 02:53] dalg24 commented on #33
oh god it takes for ever to compile.  we need to look at these explicit instantiations...

[2015-08-07 13:39] sslattery opened #34 "Investigate Changing SupportId Type"
SupportId type is currently std::size_t

Consider either changing to long long or unsigned long long or template alias at configure time

[2015-08-07 13:52] sslattery opened #35 "Design EntitySet rebalance interface"
We would like to be able to define a new partitioning of an entity set to load balance map operator setup and search operations. This includes a concept/API for parallel partitioning of entities and repartitioning.

[2015-08-10 14:35] sslattery commented on #4
Remove all template types in classic unit tests that don't match internal types.

[2015-09-09 14:31] sslattery commented on #34
This has been changed successfully to unsigned long long. At the moment, this type makes most sense as the vast majority of mesh databases used unsigned 64 bit integers.

[2015-09-09 14:31] #34 closed

[2015-09-09 14:33] sslattery opened #36 "Provide a default EntityIterator Implementation"
Interface implementations to date have indicated that the most difficult of the interfaces to understand and correctly implement is the EntityIterator interface. We will explore providing a default implementation for user objects in containers that provide standard forward iterators. The user will then just have effectively implement a creation policy which returns a DTK Entity given a user object

[2015-10-29 20:16] dalg24 commented on #33
DTKData issue was fixed in 3329c81

[2015-10-29 20:16] #33 closed

[2016-03-29 15:16] sslattery opened #38 "Refactor RBF interface to use radius at evaluation instead of construction"
RBF interface currently has RadialBasisPolicy::create( radius ) and RadialBasisPolicy::evaluateValue( basis, dist ). We want this to be RadialBasisPolicy::create() and RadialBasisPolicy::evaluateValue( basis, dist, radius ).

- [x] Refactor RadialBasisPolicy interface to pass the radius as an evaluation argument

- [x] Update basis function implementations and tstRadialBasis.cpp so tests pass

- [

[2016-03-29 15:27] sslattery commented on #1
Lets put the new Travis CI work here. We will close when that is setup.

[2016-03-29 15:28] sslattery commented on #13
We do not need this anymore - the original interface has been implemented in the DTK Classic adapters.

[2016-03-29 15:28] #13 closed

[2016-03-29 15:29] sslattery commented on #29
Interface implementation is next.

[2016-03-29 15:34] sslattery commented on #4
We should have an ETI configure option that automatically turns on the right Tpetra instantiations. Several people have emailed with build errors regarding this.

Also need to revisit point cloud operator ETI.

[2016-03-29 15:37] sslattery opened #39 "C Interface to Point Cloud Operators"
Develop C/Fortran interfaces to the point cloud operators for future Fortran interface.

- [x] Define Fortran/C compilers and systems to be used for the work

- [x] Define algorithm input options

- [x] Define algorithm input and output data

- [x] Design C interface using input and output parameters

- [x] Design Fortran interface to interoperate with C interface

- [ ] Review Fortran interface w

[2016-03-30 23:29] dalg24 commented on #1
c.f. PR #37

[2016-03-31 19:35] sslattery opened #40 "Evaluate removing getEntity() from the EntitySet interface"
It seems that getEntity() is not being used in any of the operator implementations. We should evaluate if we really need this function and remove it if we don't need it.

- [ ] Evaluate current operator implementations to see if we use getEntity anywhere

- [ ] Consider any future operator implementations that might want this functionality

- [ ] If we decide we don't need it, remove it from the i

[2016-04-05 15:18] dalg24 commented on #1
New server is hosted [here](http://jupyterdocker.ornl.gov/CDash/index.php?project=DataTransferKit)

[2016-04-05 15:57] sslattery commented on #1
- Will explore other options besides CDash to display results from CI.

- Want to target a single docker build for CI with all adapters.

- Primary task is to reduce build times.

[2016-04-08 17:28] dalg24 opened #41 "Handle units conversion"
will elaborate on this later

[2016-04-08 17:39] Rombur commented on #41
Add a way to project a solution from xyz to rz.

[2016-04-18 14:16] rppawlo commented on #41
Some codes use 2D r-z, others use 3D r-t-z and others use 3D r-z-t. I would be nice to support all these options.

[2016-04-19 23:49] sslattery commented on #4
Looking at this first for point cloud operators as part of speeding up builds. Here is the first time on my laptop on 4 corse for building just DTK with the classic adapters (no other mesh adapters): 9m13.835s

Will report times after ETI added to point cloud operators

[2016-04-20 02:12] sslattery commented on #4
Added ETI for a lot of point cloud and build times increased a bunch: 15m3.224s

What happened?

[2016-04-20 03:12] dalg24 commented on #4
weird

[2016-04-20 12:15] Rombur commented on #4
Is it possible that you instantiate too many templates? Maybe you are instantiating templates that were not created before.  Something else that you can do if one file takes a lot longer than the others is to split the instantiations so that several processors can work on it at the same time.

[2016-04-20 13:04] rppawlo commented on #4
Did you remember to hide the definitions when ETI is enabled (except for the .cpp file)? Otherwise you are just adding more builds of the same object. That's the only way I could see the times increasing with ETI.

[2016-04-20 13:08] sslattery commented on #4
I did include the definitions in the CMake header list. Could this be the issue then?

[2016-04-20 15:33] sslattery commented on #4
OK tried turning off more of the ETI and am getting this:

`/Users/uy7/software/Trilinos/packages/tpetra/core/src/Tpetra_ConfigDefs.hpp:168:4: error: "Tpetra: No global ordinal types in the set {int, long long, long, unsigned long, unsigned} have been enabled."
#  error "Tpetra: No global ordinal types in the set {int, long long, long, unsigned long, unsigned} have been enabled."`

However, we hav

[2016-04-20 15:37] Rombur commented on #4
There is something weird with global ordinal and unsigned / unsigned long Try again with long long and see if it works

[2016-04-20 15:38] sslattery commented on #4
I let it turn on LO=int and GO=int on its own. I'm sure that will work and this is just a bug in their default types from that Tpetra_ConfigDefs message. This should have been caught at configuration.

[2016-04-20 15:41] sslattery commented on #4
Looking at Tpetra_ConfigDefs.hpp:164 I don't think that macro is getting set without input from the user configure

[2016-04-20 21:39] sslattery commented on #4
Pull request #48 added ETI to the point cloud operators. We are planning future work for templating the code further and using ETI to manage that. Therefore I think we are done for now but we should review. Going to assign to @dalg24  for the review.

[2016-04-21 21:40] sslattery opened #50 "Create general missed range DOF capability and keep missed range data"
Currently only the consistent interpolation operator can keep missed range DOFS where DTK will put zeros in the solution vector. We have added capability to that map to keep the original solution. We need to propagate this capability and tracking missed range DOFS to all maps. This should be straightforward as this is handled entirely by the parallel search.

[2016-04-22 03:13] dalg24 commented on #50
PR #51 is dealing with this issue.

[2016-04-22 03:16] sslattery commented on #50
Not entirely - we need to generalize to all operators

On Thursday, April 21, 2016, dalg24 <notifications@github.com> wrote:

[2016-04-25 21:03] sslattery commented on #38
Per the work in pull request #52 this is complete if all tests in that pull request pass. Passing to Damien to review.

[2016-04-25 21:08] sslattery opened #53 "Add KNN Support to Point Cloud Operators"
KNN support is needed as an alternative to a fixed radius in the RBF operators. The RBF interface has been updated for this work via issue #38. Work is happening via pull request #52.

The steps are:

- [x] Expose a KNN vs. fixed radius option in the search parameter list.

- [x] Hook into KNN search option. For now will search for KNN+1 to calculate a radius. If were to use KNN to calculate the d

[2016-04-25 22:55] sslattery commented on #53
This has been completed via additional work to PR #52. Passing to Damien for review.

We need to talk about 2 things in the review

1. The choice of kNN+1 for calculating the support radius
2. The means by which I choose to do the coarse parallel search. If using a fixed radius, then we just expand all of the local bounding boxes by the radius and do the search. This ensures that we get all points

[2016-04-27 19:02] sslattery commented on #50
Fixed in PR #51

[2016-04-27 19:02] #50 closed

[2016-04-27 19:02] sslattery commented on #53
Fixed in PR #52

[2016-04-27 19:02] #53 closed

[2016-04-27 19:04] sslattery opened #55 "Refactor Map Operator Factory"
The map operator factory scheme is not scalable as more operators are added - it becomes very hard to maintain. In addition, it does not follow the open-closed principle as users can not inject their own implementations into the factory. We need to assess our construction scheme and use an abstract builder/factory pattern.

[2016-04-27 19:13] sslattery commented on #39
Any progress here?

[2016-04-27 19:19] dalg24 commented on #39
cf PR #56

[2016-05-02 00:50] dalg24 commented on #55
also invalid parameter list will not throw but will return a null ptr. is that really what we want?

[2016-05-04 13:40] sslattery commented on #1
@dalg24 Can we close this? Are you happy with docker/Travis/Jenkins or should we leave this open for more work?

[2016-05-04 13:41] dalg24 commented on #39
an PR #57

[2016-05-04 13:42] dalg24 commented on #38
@sslattery: Can we close this issue?

[2016-05-04 13:43] #1 closed

[2016-05-05 13:51] sslattery opened #59 "Enable transpose apply for all operators"
All operators should be applicable in transpose mode. We need to expose the hasTransposeApply() interface to all operators to ease in refactoring with first priority being the mesh-free operators.

- [x] Make hasTransposeApply() a virtual function or call an equivalent pure virtual implementation in subclasses.

- [x] Propagate hasTranposeApply interface to subclasses and add checks to applyImpl()

[2016-08-24 13:59] #38 closed

[2016-08-24 14:00] sslattery commented on #39
we haven't reviewed this with the users yet but this is effectively done. should we close?

[2016-08-24 14:01] dalg24 commented on #39
Sure

[2016-08-24 14:01] #39 closed

[2016-08-30 15:26] #4 closed

[2016-08-30 15:27] sslattery commented on #35
Won't fix

[2016-08-30 15:27] #35 closed

[2016-08-30 15:37] sslattery opened #72 "Version 2 Release"
Version 2 of the code will be released prior to starting development on version 3. The following needs to be finished:

- [x] Merge all open pull requests
- [x] Create version 2 branch @rombur
- [x] Create a new website @rombur @dalg24
- [x] Publish version 2 documentation and development version on the new website @rombur
- [x] Make clear in documentation and on front page README that the version

[2016-09-21 18:00] sslattery opened #74 "Add Try/Catch Block Protection to C API"
We forgot to add an error handling scheme for the C/Fortran APIs. Inside the C implementation we need to wrap C++ code in try/catch blocks and return error codes. The C error codes need to forwarded to the Fortran.

[2016-10-04 15:27] dalg24 opened #77 "Code format"
- [x] Choose clang-format version and define a `.clang-format`configuration file [S & B]
- [x] Enforce the new format [D]
- [x] Coding style guidelines [S]

[2016-10-04 15:34] dalg24 opened #78 "Cleanup whitespace and tab"
- [x] remove trailing whitespace [A]
- [x] replace tabs by whitespace [A]
- [x] enforce new commits won't introduce new ones [D]

[2016-10-04 18:01] aprokop commented on #78
Here is a script that could do the initial cleanup:
[code]

[2016-10-05 16:07] aprokop opened #79 "Entity bounding box tuple size is fixed to 6"
The current interface of Entity has
[code]

Should not the the second argument be 2*physicalDimension()? Or is it just this way for simplicity and the last tuple values are simply not used for lower dimensions?

[2016-10-06 12:45] aprokop opened #83 "Add DTK_DEBUG environment variable"
Add a way for DTK to query environment variables. This would be useful for making more debug options available at run time, so that users wouldn't have to recompile their release build in order to get some useful debug information.

This is motivated by a recent decision to provide a similar functionality in Tpetra (see trilinos/Trilinos#688). Tpetra or Teuchos could in the future provide the API

[2016-10-06 14:36] aprokop opened #84 "YouCompleteMe configuration"
Would be nice to have a proper working configuration to share. Once we figure it out, we can add a .ycm_extra_conf.py to $DTK_ROOT.

@dalg24 could you share your partial?

[2016-10-06 14:37] aprokop opened #85 "Github Projects for DTK"
If we are interested in Kanban boards to track issues for DTK, we could try out the new Github Projects boards. Hopefully, they would be faster that the 3rd party waffle app.

[2016-10-06 14:38] aprokop commented on #72
What are the current blockers for this?

[2016-10-06 14:39] sslattery commented on #72
I have some pull requests with some bug fixes I need to get in. I think we decided to wait on the build issues for now.

[2016-10-06 14:44] aprokop commented on #26
I think this is a good idea.

I would propose creating scripts/ dir in the dtk root, and populating it with scripts in the following format:

 <machine_name>_<script_name>_cmake

The scripts should be executable (```chmod +x <script>```)

We can start with our workstation scripts. To make sure they are up to date, you link to them in your build directory.
@sslattery If you have scripts for any HPC

[2016-10-06 14:45] sslattery commented on #26
Yes - I have some titan build scripts and Damien has done builds on Mira

[2016-10-06 14:46] aprokop commented on #72
It would be nice to document what needs to be done so that we can track the progress.

[2016-10-07 03:28] dalg24 commented on #84
Does PR #88 works for you?

[2016-10-07 03:54] aprokop commented on #84
No, it does not work. But I first need to make sure that YCM actually works for me in the first place and test it on a small project. Only after that can I make some meaningful comments.

[2016-10-07 13:54] dalg24 commented on #84
Looks like it.

[2016-10-07 19:08] aprokop commented on #84
A small update: only ```:YouCompleteMe GoTo``` does not seem to work. The regular completion seems to be fine.

[2016-10-07 22:41] aprokop opened #90 "L2projection may lose accuracy for nonlinear transformations"
The code in question is in the file `packages/Operators/src/SharedDomain/DTK_L2ProjectionOperator.cpp`. During mass matrix assembly it does this:

[code]

The question is: why does it not evaluate the Jacobian for every integration point and instead replaces it simply by multiplying by `range_entity_measure`?

Even if it is correct, it would be a good idea to have a unit test for quadratics confir

[2016-10-10 15:50] sslattery commented on #90
One thing I am thinking about hear is that the transformations for HEX8 are still nonlinear by definition - they just happen to be first order.

I think we should first assess the difference between the code above and using the properly evaluated jacobian determinant for the transformation of the integrand. If that gives good results then we should move on to the second order functions.

[2016-10-10 18:39] aprokop opened #92 "Create a master list of all parameters"
Parameters are spread out through DTK and there is no single validation place. We had a similar issue in MueLu. The solution was simple and very useful: create a single place for parameters organized that could be queried. The solution in MueLu was to store all parameters with default values and descriptions within a single xml file. That file was then processed through XSLT transformations to a)

[2016-10-10 19:07] aprokop commented on #90
Agreed. Updated the checklist.

[2016-10-10 20:25] Rombur opened #93 "Check examples in CI"
We need to check the examples during CI. Otherwise, we may break them without realizing it and since they are the first thing that a new user will look at, it will give a poor impression of DTK.

[2016-10-10 20:59] #78 closed

[2016-10-11 17:44] aprokop opened #94 "Performance benchmark"
We need to decide on the performance benchmark to be used to track performance.
- [x] Decide on algorithms
- [ ] Decide on whether to use a pre-existing mesh or to auto-generate
- [ ] Anything else

[2016-10-11 19:04] dalg24 commented on #93
- [ ] Cleanup DTKData detection by CMake
- [ ] Use submodule to clone DTKData
- [ ] Add documentation
- [ ] Make the examples run in the test regression
- [ ] Update Jenkins build script

[2016-10-11 19:05] dalg24 commented on #93
partially addressed by #95

[2016-10-11 19:08] aprokop commented on #85
I did the initial population. Github projects does not have any features right now, and moving between columns must be done manually. But the quoting github post:
[code]
intrigues me. Does waffle work on top of Projects? Projects in their current iteration are really fast.

[2016-10-11 19:13] Rombur commented on #85
You can install a bot from waffle which will update github's project

[2016-10-11 19:20] dalg24 commented on #93
@sslattery Why are all the subdirectories commented in the [`ClassicDTK/example/CMakelists.txt`](https://github.com/ORNL-CEES/DataTransferKit/blob/master/packages/Adapters/ClassicDTK/example/CMakeLists.txt#L2)?

[2016-10-11 19:21] aprokop commented on #85
@Rombur Waffle Bot is not yet, is it?

[2016-10-11 19:22] Rombur commented on #85
@aprokop I am not sure I haven't tried

[2016-10-11 19:25] aprokop commented on #85
https://github.com/integration/wafflebot

It seems like it's out. Can somebody install it on the repo?

[2016-10-11 19:27] sslattery commented on #93
These are holdovers from the original code. I am not sure any of them work any more

[2016-10-11 20:31] dalg24 commented on #77
Only guidelines are missing now.

[2016-10-11 20:32] sslattery commented on #77
It would be cool if there was a way to automatically generate some from the clang format

[2016-10-11 20:35] sslattery commented on #94
Lets focus on these algorithms to start with:

1. L2 Projection
2. Consistent Interpolation
3. Spline Interpolation
4. Moving Least Square Reconstruction

Each presents their own challenges. L2 projection has an expensive search and a linear solve, consistent interpolation will help focus on matrix assembly, spline interpolation has a very large Thyra composite operator, and moving least square re

[2016-10-11 20:39] dalg24 commented on #77
No, guidelines are different, these include naming convention for instance.

[2016-10-11 20:39] sslattery commented on #77
Ah ok - I will work on that. Perhaps a page for ReadTheDocs?

[2016-10-11 20:40] dalg24 commented on #77
Exactly.

[2016-10-11 20:49] dalg24 commented on #77
This not highest priority though so I'm not opposed to put it in the backlog.

[2016-10-11 21:25] aprokop commented on #85
So @dalg24  installed the bot. But it does not seem to do anything (we tried adding a "need review") to some issue. How does it work again?

[2016-10-12 01:03] sslattery commented on #59
This has been added for point cloud operators where transpose makes sense. This is currently not available for spline interpolation because transpose apply is not supported for inverse thyra operators.

A test has been added to operators that tests the principal of virtual work using this transpose operation (see PR #71 )

[2016-10-12 01:03] #59 closed

[2016-10-12 01:06] sslattery commented on #85
Looked at this some more today. This is a nice basic capability and it will be interested to see what additions are made in the near future. One thing I would like to see is to be able to only show items assigned to a single person on the board.

[2016-10-12 01:17] sslattery commented on #79
Yes - the lower tuple values are simply unused. We could have instead used a dynamic sized array with 2*physicalDimension() but this lets us unroll for loops for bounding box operations.

[2016-10-12 13:50] aprokop commented on #85
Yes, it is really bare right now. And you have to move all issues by hand as WaffleBot does not seem to work. But the good thing it's fast (maybe due to those reasons).

-Andrey

[2016-10-12 13:55] Rombur commented on #85
For now we still have the waffle board. Here is the address @aprokop https://waffle.io/ORNL-CEES/Cap/join There you can filter the board by assigned person, etc.

[2016-10-12 14:01] aprokop commented on #85
So, we put this back in backlog to reevaluate later?

[2016-10-12 14:04] Rombur commented on #85
Yeah let's wait to see if github improves their kanban

[2016-10-12 14:37] sslattery commented on #85
I propose one more column named 'new' for the board. This are issues that have just been created but are not yet considered backlog.

[2016-10-12 14:39] aprokop commented on #85
I think new issues should automatically go to backlog unless you manually move them to ready. The only advantage of "new" I see is if we decide to go through them and decide on priority later. But I think we should do the same with backlog anyway.

[2016-10-12 14:41] sslattery commented on #85
I infer "backlog" to mean we know we have to do this work at some point but have no plans on doing it in the near future. You are right in that new vs. backlog is effectively a priority rating for tickets that are not yet ready. It will also prevent us from having too many things that are ready.

[2016-10-12 14:45] aprokop commented on #85
OK. Couple questions:
1. When creating a "new" issue can't you decide at that point whether it should go to backlog or ready? What information is missing for this decision?
2. If we don't want too many things in Ready, they should go to Backlog by definition.

[2016-10-12 14:46] sslattery commented on #83
Per our discussion I am vary wary of system environment variables - especially those such as this that will substantially affect performance. Although I agree that the use case is valid and could potentially be beneficial to the user, the negative aspects of this approach far outweigh the positive aspects.

[2016-10-12 14:47] sslattery commented on #85
The difference is the definition of backlog. Backlog should be a place where we put things that we want to keep on our radar but have no plans to work on them at this time. New means a new issue that should be addressed in the near future but a number of in progress and ready tasks need to be completed before that issue can be addressed.

[2016-10-12 14:47] aprokop commented on #83
I'm still not 100% sure of your concerns. Is your concern only about the time it takes to query the environment variable? What if that is done only once in the beginning of the program, and sets some global parameter that is later queried? In this case, it does not affect the performance.

[2016-10-12 14:49] aprokop commented on #85
Hmm, is that really the definition? My understanding of Backlog was that it is everything we can't work on right now, but it does not say anything about "we have no plans for them".
@dalg24 @Rombur What's your take on this?

[2016-10-12 14:49] sslattery commented on #83
The issue is, as @Rombur pointed out yesterday is that as soon is you start incorporating any environment variables into the mix you add an additional quagmire of configuration and runtime issues. I am not interested in support user configurations that additionally include environment variables. I would rather advocate for configure-only option. If the user wants debug information they should do a

[2016-10-12 14:50] sslattery commented on #85
Its not that we have no plans to work on backlog issues, its that we don't have any plans in the near-term future to address them. Perhaps a few months down the road they would be addressed and then moved into ready at that point.

[2016-10-12 14:52] sslattery commented on #83
Basically I am saying I want zero environment variables in the code. I think they are a bad design choice and break the encapsulation provided by the configuration system.

[2016-10-12 14:57] dalg24 commented on #85
Here is how I see it:  New issues should automatically go to "backlog".  We select the ones we are going to work on by moving then to "ready".

[2016-10-12 14:58] dalg24 commented on #85
We can always use tags to sort things out in "backlog".

[2016-10-12 15:02] aprokop commented on #83
I guess it all boils down whether all DTK users running simulations can recompile DTK. If yes, then it does not matter. If no, then it would make our life easier to debug failed runs.

[2016-10-12 15:06] Rombur commented on #83
I am with @sslattery. I find environment variables to be a real headache. Since up to now, nobody complained about not being able to recompile DTK when they hit a bug, I don't think it is necessary to introduce such a variable.

[2016-10-12 15:09] aprokop commented on #83
OK, closing the issue. Will reopen if we need it later. By that time it is likely we could take advantage of Tpetra/Teuchos functionality.

[2016-10-12 15:09] #83 closed

[2016-10-12 16:11] sslattery commented on #85
ok - Damien has convinced me. I would like to see some sort of tag system for 'high priority', 'medium priority', and 'low priority'. That will help us prioritize things sitting in the back log

[2016-10-12 22:00] aprokop opened #97 "Nanoflann update"
Do we want to update it? If yes, we could snapshot the most recent version.
Btw, it has moved to https://github.com/jlblancoc/nanoflann from code.google.com.

[2016-10-12 22:03] dalg24 commented on #97
another job for git submodule ;)

[2016-10-12 22:07] dalg24 commented on #97
Looks like we are working out of [version 1.1.7](https://github.com/ORNL-CEES/DataTransferKit/blob/master/packages/Utils/src/Nanoflann/DTK_nanoflann.hpp#L66) and the latest release is 1.2.2.

[2016-10-13 14:32] #84 closed

[2016-10-13 14:33] dalg24 commented on #84
Hi @wafflebot[bot]

[2016-10-13 14:51] dalg24 opened #98 "Fix failing DataTransferKitLibmeshAdapters_LibmeshVariableField_test_MPI_4 test"
This libMesh test has been consistently [failing on Jenkins](https://jupyterdocker.ornl.gov:8080/job/DataTransferKit-experimental/78/testReport/projectroot.DataTransferKit.packages.Adapters.Libmesh/test/DataTransferKitLibmeshAdapters_LibmeshVariableField_test_MPI_4/).
@sslattery would you please look at it.  You probably want to run the Docker container to debug this.  Instructions can be found [h

[2016-10-13 14:54] sslattery commented on #98
Will do

[2016-10-13 15:01] dalg24 commented on #98
`gdb` and `valgrind` are already installed.  You might need to run your container with the `--security-opt seccomp:unconfined` option.

[2016-10-13 15:01] sslattery commented on #98
what do that option do?

[2016-10-13 15:02] dalg24 commented on #98
[code]

[2016-10-13 15:04] dalg24 commented on #98
`--security-opt="seccomp=unconfined": Turn off seccomp confinement for the container` (From https://docs.docker.com/engine/reference/run/#/runtime-constraints-on-resources)

[2016-10-13 15:06] dalg24 commented on #98
[code]

[2016-10-13 15:07] sslattery commented on #98
ok - looks like a memory issue

[2016-10-13 15:07] dalg24 commented on #98
see the `warning: Error disabling address space randomization: Operation not permitted`

[2016-10-13 15:08] dalg24 commented on #98
I believe you won't get it if you add the `--security-opt` flag

[2016-10-13 15:08] sslattery commented on #98
so the warning is introduced by the flag?

[2016-10-13 15:10] dalg24 commented on #98
no the flag will get rid of it

[2016-10-13 15:10] sslattery commented on #98
ah ok

[2016-10-13 15:11] #77 closed

[2016-10-13 15:16] dalg24 commented on #98
Pull the "debug" branch from https://github.com/dalg24/DataTransferKit.git if you don't know how to do it.
[code]

[2016-10-13 17:09] sslattery commented on #98
On your debug branch

``
mac104712:[debug]~/software/DataTransferKit/docker$ docker-compose up -d
Pulling dtk_dev (dalg24/dtk_stack:latest)...
Pulling repository docker.io/dalg24/dtk_stack
ERROR: Error: image dalg24/dtk_stack:latest not found
``

Is this ok?

[2016-10-13 17:23] dalg24 commented on #98
are you able to pull the image `docker pull dalg24/dtk_stack`

[2016-10-13 17:23] sslattery commented on #98
no - same error

[2016-10-13 17:33] sslattery commented on #98
what is the docker command syntax for passing the security flag?

[2016-10-13 17:34] dalg24 commented on #98
it is already there if you ran `docker-compose` on the "debug" branch

[2016-10-13 17:34] sslattery commented on #98
ok got it. it was complaining about the flag being undefined

[2016-10-13 20:08] sslattery commented on #98
OK i think i figured it out. This is some stupid petsc thing. Basically, more than one unit test in a file means more than one petsc initialization which is causing a segfault. The segfault we are seeing is actually in the init call to libmesh but libmesh has clearly been finalized. I'm going to try splitting the file into two.

[2016-10-13 20:12] sslattery commented on #98
That was it. This is fixed.

[2016-10-13 20:41] dalg24 commented on #98
Resolved by PR #99

[2016-10-13 20:41] #98 closed

[2016-10-14 13:53] sslattery commented on #97
I'm not opposed to an update or a git submodule here. This will likely not get used in version 3, however, as it is CPU-only code.

[2016-10-14 16:19] aprokop commented on #97
It would still be a good baseline to compare the performance of new threaded codes to.

[2016-10-14 18:14] sslattery commented on #97
Good point. In fact it would be nice to have for unit testing. We can test the functionality and results of new implementations against nanoflann as a baseline.

[2016-10-15 04:25] aprokop commented on #85
Mike Heroux' (Trilinos lead) description of Trilinos Kanban

[2016-10-18 20:16] aprokop opened #103 "DTK configuration for spack"
[Spack](http://computation.llnl.gov/projects/spack-hpc-package-manager) ([github](https://github.com/LLNL/spack)) is a tool for managing software tools versioning and dependencies.

HPC platforms are going to install Spack by default (@Rombur reference?), it may be a good idea to provide a configuration for it. The issue is that DTK is currently built inside the Trilinos, so it is unclear of the b

[2016-10-18 20:23] Rombur commented on #103
I don't remember where I saw that spack will be used for summit and sierra but here is the reference for trinity http://insidehpc.com/2016/08/spack/

[2016-10-19 19:24] aprokop opened #105 "Github labels and [WIP] semantics"
The conversation was started in #104. The conversation so far:

sslattery: @aprokop is this WIP? isn't it being actively reviewed?
aprokop: It is [WIP] because it is not a final state of patches. Unless I understand WIP incorrectly.
sslattery: I interpreted WIP as something that is still being actively developed. Once removed it is ready for review and fixes per the reviewer comments
aprokop: Then

[2016-10-19 19:25] aprokop commented on #105
If I review a branch, and find no issues, do I remove "need review"? If somebody else look at this branch and find issues with it, do we rely on that person to put "need review" label back on?

[2016-10-19 19:27] sslattery commented on #105
i would say it needs review until it is merged. i guess we don't have a multiple reviewer policy

[2016-10-20 19:43] sslattery commented on #3
This is an enhancement to the version 2 interface and therefore wont fix.

[2016-10-20 19:43] #3 closed

[2016-10-20 19:44] sslattery commented on #6
Its still possible we might want this if we are forced to add L2 surface projection to version 2 for FSI work

[2016-10-20 19:47] sslattery commented on #7
This is an enhancement for version 2 so we won't be fixing this. We should be very cognizant of how we handle tolerances in the version 3 design, however.

[2016-10-20 19:47] #7 closed

[2016-10-20 19:48] sslattery commented on #14
Version 2 default implementation enhancement. Will not fix.

[2016-10-20 19:48] #14 closed

[2016-10-20 19:50] sslattery commented on #97
Do we still want to do an update here? Because we distribute it with the code I'm not sure its necessary as its meeting our needs. We will certainly keep it around for the reasons of performance and testing new search code as indicated above but its not clear we need to update the code to achieve that.

[2016-10-20 19:50] sslattery commented on #36
Default implementation for version 2 interfaces so will not fix.

[2016-10-20 19:50] #36 closed

[2016-10-20 19:57] sslattery commented on #15
OK so some of this code, particularly the projection primitives, were moved over but never got used in an implementation of common refinement. We will refactor these for version 3 but we will likely re-implement a lot of what is in Topaz anyway.

So, this is a feature enhancement for version 2 that we won't be addressing.

[2016-10-20 19:57] #15 closed

[2016-10-20 19:59] sslattery commented on #40
So it seems as though this could be removed based on an assessment of our algorithms, but, this is a reasonably large and largely unnecessary change to the version 2 API so will not fix.

[2016-10-20 19:59] #40 closed

[2016-10-20 20:01] sslattery commented on #41
Any more discussion on this? If this is something that people think should be in the new version of the API we can do that. I could see that as basically functors someone would pass to a `for_each` and apply to a `kokkos::view`

[2016-10-20 20:02] sslattery commented on #55
Enhancement for version 2 so will not fix.

[2016-10-20 20:02] #55 closed

[2016-10-20 20:03] sslattery commented on #29
We will not a general framework to this for version 2. If we end up adding l2 projection we will do so as an extra operator. Closing as will not fix.

[2016-10-20 20:03] #29 closed

[2016-10-20 20:04] Rombur commented on #41
I think this would be pretty nice to have but it's definitely not on top of the list of things that need to be done.

[2016-10-20 20:04] sslattery commented on #79
@aprokop Can you close this if your question is sufficiently answered? If not we can further discuss.

[2016-10-20 20:06] #6 closed

[2016-10-20 20:07] #79 closed

[2016-10-20 20:08] sslattery commented on #94
Making low priority for now but priority will increase in the future as we move along in development.

[2016-10-20 20:09] sslattery commented on #90
This could possibly be a bug so I want to understand this for future users of the version 2 L2 projection. In version 3 this will not be an issue as we will have full access to discretization.

[2016-10-22 02:21] aprokop commented on #90
OK, so I now have a standalone example to investigate that. At this moment, I have an `integrateFieldIncorrect()` variant that took the code from L2 projection mass matrix assembly. I now need to write a correct version of integration using Jacobians. @sslattery suggested using `IntrepidCell` for that, but at the moment I don't understand how to properly initialize it.

[2016-10-24 14:39] sslattery commented on #97
One more ping on this. Either we need to make this a low priority issue in the backlog or close

[2016-10-24 14:41] sslattery commented on #94
Lets also add a benchmark for search. We could close #97 and add a Nanoflann benchmark.

[2016-10-24 14:42] aprokop commented on #97
I would argue for backlog. I'd like to get it done eventually, as I think a submodule is the way to go. But as you say it is not strictly necessary.

[2016-10-24 14:45] sslattery commented on #90
Did you take a look at the ``IntrepidCell`` unit test?

[2016-10-24 16:17] sslattery opened #108 "Configuration Bug with Missing C Interface Adapter"
Hi Stuart, Roger,

I noticed that DTK failed to build last night in my nightly Trilinos build.  Here is the error:

-- Trilinos_NUM_TPLS='104'

Processing Project, Repository, and Package dependency files and building internal dependencies graph ...

CMake Error at cmake/tribits/core/package_arch/TribitsAdjustPackageEnables.cmake:141 (MESSAGE):
  Error, the package 'DataTransferKitC_API' is listed

[2016-10-24 16:19] sslattery commented on #108
Looks like C adapters are required by the STK tests. Shouldn't this automatically get turned on then?

[2016-10-24 16:22] sslattery commented on #108
ok the packages in ``cmake/Dependencies`` is out of order so it won't automatically get turned on

[2016-10-24 16:45] sslattery commented on #108
Here is the full configure and output

[trilinos_cmake.txt](https://github.com/ORNL-CEES/DataTransferKit/files/548431/trilinos_cmake.txt)

[do-cmake-trilinos-mpi-tpetra-no-scorec-1.txt](https://github.com/ORNL-CEES/DataTransferKit/files/548429/do-cmake-trilinos-mpi-tpetra-no-scorec-1.txt)

[2016-10-24 20:26] sslattery commented on #108
Fixed with merge of #109

[2016-10-24 20:26] #108 closed

[2016-10-24 23:18] aprokop commented on #90
Apparently, "addresses #" is not one of the keywords that are picked up. Directly linking to #119.

[2016-10-25 11:12] dalg24 commented on #90
If you meant Waffle.io to pick up that your PR address an existing issue, you need to include `#<issue number>` in the branch name.  For instance you could have called your branch `l2-#119`.

[2016-10-25 11:59] Rombur commented on #90
https://github.com/waffleio/waffle.io/wiki/FAQs#branch-moving

[2016-10-25 22:49] aprokop commented on #94
Are we talking about benchmarking different implementations of `StaticSearchTree`? Like the time to do `nnSearch` or `radiusSearch` on a randomly distributed point clouds? I could copy `tstStaticSearchTree.cpp` and expand it for larger clouds.

[2016-10-26 13:45] Rombur commented on #72
@sslattery anything blocking the announcement of version 2?

[2016-10-26 15:42] sslattery commented on #72
yeah too many meetings haha. will do today

[2016-10-26 19:04] #72 closed

[2016-10-26 20:33] aprokop commented on #72
Maybe update with Github DTK wiki?

[2016-10-27 13:49] sslattery commented on #72
should we just get rid of the wiki?

[2016-10-27 13:49] aprokop commented on #72
What was its original purpose?

[2016-10-27 14:37] sslattery commented on #72
Not sure but it looks like it overlaps with our read the docs so we may want to delete it to avoid confusion and duplicated effort. Looks like it hasn't been updated since April. Any thoughts @dalg24 ?

[2016-10-27 14:45] Rombur commented on #72
@dalg24 is on vacation in France for two weeks.

[2016-10-27 15:45] sslattery commented on #105
We have discussed and come to an agreement

[2016-10-27 15:45] #105 closed

[2016-10-27 20:56] dalg24 commented on #72
I wouldn't bother with the wiki for now.  I agree with Stuart.

[2016-10-27 22:20] sslattery opened #122 "No preconditioner specification for spline operator creates exception"
In updating CASL to version 2 the point cloud operators tests were found to fail on an exception

[code]

Further investigation showed that Ifpack is the default preconditioner factory in Thyra - therefore casts are made to Epetra objects. This obviously fails on DTK Tpetra objects. This will not get called if the `Preconditioner Type` field in the Stratimikos parameter list is set to none. We don

[2016-10-27 22:20] sslattery commented on #122
Also this affects version 2

[2016-10-28 14:18] sslattery opened #124 "Changelog Tool"
Per discussion in #123 it was noted that we need a change log capability. @aprokop suggested:

I think this is a good idea and we will need to do this every time we tag a new version.

[2016-10-28 18:54] aprokop commented on #90
Brief summary of the conversation with @sslattery, will fill in more details later:

We may fix this through evaluateGradient(). In Intrepid, the Jacobian entries are computed as \sum q_k basis_grad(k), where q_k are the node coordinates in the physical frame, and basis_grad(k)
are the gradients of the basis functions. The sum is over all nodes/basis functions (cardinality).

In ShapeFunction we h

[2016-10-31 16:01] aprokop commented on #90
Few questions regarding designing a common Jacobian/determinant interface:

- For a given `Entity entity`, do we rely on the support ids provided by `ShapeFunction::entitySupportIds( entity, support_ids )` or adjacent ids provided by `EntitySet::getAdjacentEntities( entity, dim, adj_entities )`? What is the difference between two? Does it makes a difference for FEM? For CVFEM?
- Depending on the c

[2016-10-31 17:59] sslattery commented on #90
- I guess I would use `getAdjacentEntities()` because we are guaranteed that we can go and get the coordinates of those entities. We would have to rely on the database returning them in a canonical order or modify the implementations so this is correct. We will need unit tests for the adapters that check the ordering of the nodes.
- Yes, I think we will want a helper class for Jacobian operations.

[2016-10-31 19:43] aprokop opened #125 "Division by 8 when integrating in some places"
For instance, looking at `tstL2Projection`, the last line of `integrateField()` function is
[code]
Not sure 100% yet, but this may only be happening for `ReferenceHex` implementation.

This should be fixed, as we can never rely on a developer remembering to do the computation (or even dividing by 64 in some cases).

[2016-11-01 15:10] sslattery commented on #122
Fixed by merge of #123

[2016-11-01 15:10] #122 closed

[2016-11-01 15:12] sslattery commented on #90
Addressed partially by #119

[2016-11-01 20:37] aprokop commented on #125
This is really a duplicate of #90. The integration weights are for reference frame, and in the reference frame their sum gives the exact cell measure. The implementation of integration in L2 projection does not include Jacobians which would have served as scaling factors for these weights, and thus the integration must be divided by 8. And of course, this /8 factor only works for linear transforma

[2016-11-01 20:37] #125 closed

[2016-11-02 15:43] aprokop opened #126 "STK adapter does not automatically pull DTK_C_API"
The build fails with the following config:
[code]
The failure is like this:
[code]
The problem is that DTK_C_API adapter is not being built despite being specified in the STK adapter's cmake dependencies list. This may be related to #109, but it passes the configure just fine, it fails during the build.

Switching `ASSERT_MISSING_PACKAGES=ON` does not help.

[2016-11-02 15:44] sslattery commented on #126
Did you try this with the master branch?

[2016-11-02 15:46] Rombur commented on #126
Why do you turn off Boost but turn on BoostLib?

[2016-11-02 15:48] sslattery commented on #126
yeah if you turn off boost it will turn off the c api

[2016-11-02 15:48] aprokop commented on #126
@sslattery  yes, this is with the master branch, and it has the October 24th commit in cmake

@Rombur I turned it as the config without it was failing and it asked me to turn it on. It did not ask me to turn on Boost, and the config passed without it.

@sslattery Then we need to catch this case.

[2016-11-02 15:55] Rombur commented on #126
IIRC Boost is for the header-only part of the library, while BoostLib is for the compiled part of the library. So if BoostLib is on Boost should also be on.

[2016-11-02 16:02] aprokop commented on #126
I can confirm that explicitly turning on
[code]
in the configure script fixes it.

[2016-11-02 16:04] sslattery commented on #126
So the C adapters are listed as a test requirement. Are you trying to build the tests? If so the build system should have turned off the tests or failed at the configure if it was turned off.

[2016-11-02 16:05] aprokop commented on #126
Yes, I was trying to build the tests and examples with `-D DataTransferKit_ENABLE_EXAMPLES=ON`

[2016-11-02 16:05] sslattery commented on #126
OK - I wonder why TriBITS didn't turn them off or fail then? Thats why we set up these package dependencies...

[2016-11-03 16:33] aprokop commented on #90
Running @sslattery's example (a 3D exodus example with a ball embedded into a cube) produced no difference between old and new L2 projection approach.

Digging further, for hexahedrons due to the integration weights being the same the difference should come from the difference `abs(entity_measure - \sum_{integration_points ip} |J(x_ip)| w_ip$.
These differences in the provided mesh were on the ord

[2016-11-03 18:45] aprokop commented on #90
Looking further into that it seems like a bug (in Intrepid or somewhere else) when using first order integration on ReferenceHexMesh. The integral for each of the first 64 cells are 8 times larger than they are supposed to be, and after 64 cells they are all kind of messed up. The 2nd integration order works fine.

Not going to pursue this further at the moment. Next line of thinking is to switch

[2016-11-03 18:53] aprokop commented on #90
The results are kind of what we expect (if we ignore the Intrepid column, don't know what's going on there yet):

f(x) = 1

perturbation | DTK old | DTK new | Intrepid
------------ | ------- | ------- | --------
0.00 | 1.327e-11 | 1.327e-11 | 7.674e-13
0.10 | 2.842e-14 | 1.137e-13 | 1.990e-13
0.20 | 1.705e-13 | 3.979e-13 | 2.842e-14
0.30 | 5.400e-13 | 2.842e-14 | 5.684e-14
0.40 | 2.842e-14 | 4.263

[2016-11-03 21:36] aprokop commented on #90
I think I fixed something in #127. Now, using `ingetration_order = 1` gives exactly same integrals for DTK old and DTK new for all functions, as expected, as the measure and function integral are evaluated using same cubature rules.

[2016-11-03 21:51] aprokop opened #128 "IntrepidCell::getCellMeasures uses function cubatures to compute it"
IntrepidCell is a manager for Intrepid cell-level operations. Its constructor takes an input of a `cell_topology` and `degree`. The `degree` here means the degree of polynomials to be able to integrate exactly on the cell.

The code in question is here:
[code]

The issue is that the provided `degree` is also used to evaluate cell measures. It should not do that. Cell measures should be evaluated u

[2016-11-04 18:43] aprokop commented on #90
DTK old: compute entity measure using hardcoded cubature (order=1), integrate using measure
DTK trs: compute entity measure using function cubature, integrate using measure
DTK new: integrate using Jacobians

Summary:

1. f(x) = 1 => DTK trs and DTK new produce similar results as expected (they both compute measure using the same cubature)

2. For f(x) != 1, DTK old error >  DTK trs  error > DTK n

[2016-11-04 18:45] sslattery commented on #90
for f(x) = xy would integration order 3 be the right one to use?

[2016-11-04 18:46] aprokop commented on #90
I tried both 2 and 3 integration orders, and they produced the exact same results. I think that when you specify integration order 2 the produced cubature is accurate up to 2*2-1=3 order.

[2016-11-04 18:46] sslattery commented on #90
OK - so its not very accurate in that case then

[2016-11-04 20:45] dalg24 commented on #126
Remove `-D Trilinos_ASSERT_MISSING_PACKAGES=OFF` (c.f. discussion with Ross on #109).
How long is this silly mistake going to hurt us...

[2016-11-04 20:57] dalg24 commented on #90
No, finite elements just won't capture `(x, y) -> f(x, y) = x y` if you use tensor product of polynomials as shape function basis.

[2016-11-04 21:03] sslattery commented on #126
oh yeah - keep forgetting about that...

[2016-11-04 21:04] aprokop commented on #126
@dalg24 Actually, I think I tried with that and it did not help in this case.

[2016-11-08 15:55] aprokop commented on #90
Remaining tasks:
- [ ] Figure out a single L2 projection unit test failure
- [ ] What is the difference between integrating a function and a field using the new approach?
- [ ] Permute the nodes in .exo example, and see if it makes any difference.

[2016-11-08 16:58] aprokop commented on #90
I see no difference between the original and fixed versions of L2 projections when running STK interpolation example with perturbed nodes. The examples reads in a [-5,5]^3 mesh (provided by @sslattery), and randomly perturbs the nodes (in the same manner in both source and target mesh). I think the perturbation is done correctly as the values change after some later (unchanged) code is filling in

[2016-11-08 17:06] sslattery commented on #90
It might be because the mesh is the same

[2016-11-08 17:17] aprokop commented on #90
Same meshes do not seem to explain the problem. The meshes perturbed in different ways (seeded with different srand value, do not perturb the boundary) result in similar errors in both old and new approaches.

[2016-11-08 22:12] aprokop commented on #90
Here are the updated results from the integral test when also integrating a field generated by a test function (fDTK means integrating a field rather than an exact function). The main difference is significant increase in the approximation error for a nonlinear field as now the interpolation error comes into play.

One thing I'm still not sure about is why DTK trs and fDTK trs behave very similar

[2016-11-08 23:26] aprokop commented on #90
What is an error of integrating a piecewise function over an interval? Does this error go down with higher order cubatures?
For example, integrating `f(x) = |x|` on `[-1,1]` using Guassian quadrature of increasing order results in this:
[code]
So, the error does not consistently go down. I would assume that it is actually 0-th order accurate. The situation is going to be even worse for a function

[2016-11-11 16:23] aprokop commented on #90
It seems that the hypothesis was right. Below are  the results for a piece-wise smooth function (inflection is in the middle of a subdomain). We see that in case of discontinuities using Jacobians is no more accurate than doing a simple approximation (at least for lower-order methods). Just look at integration order=2, perturbation != 0, DTK old vs DTK new.

*f(x) = |x - 1.55|*

integration order

[2016-11-11 16:24] aprokop commented on #90
The plan now it to clean up the branch and commit everything but the change to the L2 projection method. So we will still use the old method as we cannot show any improvements for it in most situations, and as the new method has the drawbacks as it make some assumptions regarding the support ids (their order and other things).

[2016-11-11 16:25] sslattery commented on #90
I think that is a good plan

[2016-11-11 16:37] aprokop commented on #90
@sslattery Should I commit a "fixed" version of L2projection hidden behind #ifdef's ? This way we can go back to this issue in the future without trying to resurrect the code. I can put a long comment there describing the issues.

[2016-11-11 18:19] sslattery commented on #90
I think i would rather have a clean version committed. You can let your branch persist to keep to fixes for the full l2 projection.

[2016-11-11 18:25] aprokop commented on #90
I would not want to leave it my own branch. I think I can instead create an dtk l2 branch in the main repo so that it does not disappear accidentally.

[2016-11-11 18:33] aprokop opened #130 "Add more warnings to Jenkins"
I think to we need to further clean up the code to get rid of warnings. Thus I suggest we add -Werror and additional warnings detection to Jenkins CI. At the moment I get things like this:

[code]

One thing, though, is that some of Trilinos packages like STK are more warning-prone. I think the linear algebra portion, though, is mostly warnings free.

[2016-11-11 18:34] sslattery commented on #130
Remember that we get warnings from TPLs when we build too that we have no control over. Would this flag cause the build to fail because a warning from a TPL?

[2016-11-11 18:38] aprokop commented on #130
I usually have the following in my configure script:
[code]
This way the compiler would ignore the headers coming from the things in you $CPATH (or whatever you put there). So TPLs should be fine. Most issues I see coming from Trilinos packages.

[2016-11-11 18:39] sslattery commented on #130
I think this is a good idea then as long as we can configure this to just fail on any DTK warnings.

[2016-11-11 20:14] dalg24 commented on #130
The problem is not so much the TPL but the other packages in Trilinos.

[2016-11-12 19:03] aprokop commented on #126
Can confirm that removing `Trilinos_ASSERT_MISSING_PACKAGES` or switching it to `ON` does **NOT** solve the problem.

[2016-11-12 19:08] aprokop commented on #126
If I add `DataTransferKitC_API` to STKMesh's `LIB_REQUIRED_PACKAGES` it correctly fails with
[code]

[2016-11-12 19:14] aprokop commented on #126
I explicitly add
[code]
it correctly fails to configure with the same error even without `DataTransferKitC_API` in `LIB_REQUIRED_PACKAGES`.

So, I think the problem is the STKMesh's examples are automatically compiled even when they were not configure to do that.

[2016-11-12 19:19] aprokop commented on #126
The problem may be more widespread: for instance, Intrepid tests are also compiled even they were not explicitly enabled. The question is: what does `DataTransferKit_ENABLE_EXAMPLES` or `ENABLE_TESTS` do, and how does it play with all the test dependencies?

[2016-11-12 19:26] aprokop commented on #126
@bartlettroscoe Ross, does turning on the package EXAMPLES/TESTS on automatically turn on all the subpackage examples/tests? How does dependency resolution work in this case?

[2016-11-12 19:41] bartlettroscoe commented on #126
It depends what you mean by "does turning on the package EXAMPLES/TESTS on automatically turn on all the subpackage examples/tests?"   Can you state a more explicit example?

Not sure if this is related but there is a known defect TriBITSPub/TriBITS#56 but that does not enable more examples/tests.  It just turns on too many upstream packages.  That will get fixed after I can test all of Trilinos s

[2016-11-12 19:52] aprokop commented on #126
@bartlettroscoe Here is the situation at hand, I think it is different from all the issues you mentioned.

DTK has several subpackages in it including STKMesh. Turning on `-D DataTransferKit_ENABLE_EXAMPLES=ON` adds all directories specified with `TRIBITS_ADD_EXAMPLE_DIRECTORIES()` in all the subpackages, so for instance it adds `STKMesh/example`. This is as expected.

However, it seems that this

[2016-11-12 20:01] bartlettroscoe commented on #126
@aprokop, it sounds like this might be a defect in the TriBITS dependency logic.  While this may be different from TriBITSPub/TriBITS#56 it may be strongly related.  What are the exact SHA1 versions of Trilinos and DTK and full configure options that show the different scenarios?

If this is a new defect, then I can likely fix this at the same that I am fixing TriBITSPub/TriBITS#56 (which will be

[2016-11-12 20:05] aprokop commented on #126
@bartlettroscoe It can be tried with HEAD both Trilinos and DTK. But if you need the exact SHA1 I'm using they are DTK: 21bf6bf and Trilinos: 674cff2.

The configure script is in the beginning of the issue. That configure script does not fail at the configure stage but fails during compilation as it does not properly switch the subpackage on. If you add `-D DataTransferKitSTKMeshAdapters_EXAMPLEs=

[2016-11-12 20:08] bartlettroscoe commented on #126
Okay, I will take a look.  How urgent is this?  Is there a workaround that you can keep going until I can get to this in the next few days?

[2016-11-12 20:09] aprokop commented on #126
It's not urgent. The workaround exists.

[2016-11-14 18:21] #124 closed

[2016-11-22 16:42] sslattery commented on #103
https://groups.google.com/forum/#!topic/spack/DRaOJQUn-TQ

[2016-11-22 17:19] aprokop commented on #126
@bartlettroscoe Just a ping to see if you had a chance to look at it.

[2016-11-22 17:28] bartlettroscoe commented on #126
Not yet.  First have to get trilinos/Trilinos#482 done.

[2016-11-22 17:36] sslattery commented on #93
Next steps:

1. Determine if examples can also be tests but still build when tests are turned off
2. If they can't be built when tests are deactivated, decide on another path to run tests
3. Refactor examples to a pass/fail status to allow for testing

[2016-11-22 19:02] aprokop commented on #90
Here is the L2Projection fix that we don't want to push to master just yet. The patches including some modifications to the STK example to drive it are at the end.

[code]

[0001-L2Projection-added-a-commented-out-version-of-integr.txt](https://github.com/ORNL-CEES/DataTransferKit/files/607317/0001-L2Projection-added-a-commented-out-version-of-integr.txt)
[0002-STK-L2projection-test.txt](https://g

[2016-11-22 19:07] aprokop commented on #93
- ADD_TEST will generate test if and only if ENABLE_TESTING() is called
- CTest module will invoke ENABLE_TESTING() automatically when BUILD_TESTING is ON
- the macro TRIBITS_INCLUDE_CTEST_SUPPORT that gets invoked in TriBITS/tribits/core/package_arch/TribitsProjectImpl.cmake calls INCLUDE(CTest)
which turns BUILD_TESTING ON

In other words TriBITS calls ENABLE_TESTING regardless of all the ENABLE

[2016-11-22 19:21] sslattery commented on #93
ok so @dalg24 was right here? I haven't looked at it yet

[2016-11-22 19:23] dalg24 commented on #93
Then all that is left to do is replace all instance of TRIBITS_ADD_EXECUTABLE by TRIBITS_ADD_EXECUTABLE_AND_TEST (only occurs in Libmesh, STKMesh and Moab) and apply
[code]

[2016-11-22 19:33] sslattery commented on #93
kudos to @dalg24 for figuring this out

[2016-11-29 15:31] Rombur opened #133 "Create a step-by-step release recipe"
We should create a release recipe similar to https://github.com/dealii/release-papers/blob/master/release-tasks This way we won't forget a step and anyone will be able to easily do a release.

[2016-11-29 15:35] aprokop commented on #133
Wow, that's some long task list 😄

[2016-11-29 16:05] sslattery commented on #90
Closing with merge of PR #127

[2016-11-29 16:05] #90 closed

[2016-11-29 22:11] Rombur opened #135 "Trilinos 12.10 has been released"
Trilinos 12.10 has been released. This release may fix the problem we had with STK mesh. So we should update the container and try again.

[2016-11-29 22:11] aprokop commented on #135
What is the STK mesh problem? Can you reference it?

[2016-11-29 22:19] Rombur commented on #135
I don't remember exactly what the problem is but it is related to this https://github.com/trilinos/Trilinos/issues/62

[2016-11-29 23:37] dalg24 commented on #135
OK, let's update our base image.  What else would we like to update in it?
I see that:
* NetCDF had a new [maintenance release](http://www.unidata.ucar.edu/blogs/news/entry/netcdf-4-4-1-1).
* Libmesh is working on a [1.1.0 release](https://github.com/libMesh/libmesh/releases).
* Moab has a tagged a [4.9.2 release](https://bitbucket.org/fathomteam/moab/downloads?tab=tags).

[2016-12-01 17:12] aprokop opened #137 "CII best practices"
I've been listening to ChangeLog podcast recently about Core Infrastructure Initiative. In short, they propose a list of things a project should follow. This was mostly for core projects, but I thought that we may find some interesting things to look at. The list of criteria is [here](https://github.com/linuxfoundation/cii-best-practices-badge/blob/master/doc/criteria.md).

One of the things they

[2016-12-01 17:26] dalg24 commented on #137
We can probably add `cppcheck` to our CI.
As far as dynamic analysis, `valgrind` is already in our Docker image.  Another option would be to add option flags to the compiler to use the address sanitizer.

[2016-12-09 23:11] aprokop opened #145 "Using git commit and like in a docker image messes up file ownership"
I got tripped by the following: running Docker using `docker-compose` in `DataTransferKit/docker`, editing and committing files inside the container changed/created files with root permissions in `.git/objects`. Not fun.

I don't know of a good solution for this. A workaround for situations when one does not have a root/sudo on the machine is to change the permissions back in the container.

[2016-12-09 23:14] dalg24 commented on #145
Yep, definitely was aware of these side effects.

[2016-12-13 16:16] sslattery commented on #145
To address a bash script is needed at entry point of container creating a user with identical name and UID to the user that launched the container. We anticipate problems with permissions that will have to be addressed.

[2016-12-13 16:53] sslattery commented on #137
Will do dynamic analysis with sanitize flags and valgrind, each in a separate build on master with frequency off builds to be determined. Will also do dynamic analysis of test coverage.

For static analysis we will look at cppcheck but will need a plan to address errors in output; also known to have false positives. Will also look at coverity

@Rombur will take a look at adding sanitize flags to b

[2016-12-13 23:18] aprokop opened #146 "Configure fails when MOAB is enabled but MOAB_LIBRARY_DIRS are not specified"
I have a simple
[code]
in my configuration script. It fails with
[code]
The issue seems to be obvious: I don't provide `MOAB_LIBRARY_DIRS` as it finds it fine without.

The workaround so far is
[code]

[2016-12-13 23:40] aprokop opened #148 "Allow `clang-format` in addition to `clang-format-3.9`"
Right now, the test only check for the exact `clang-format-3.9`. So, even if I install clang 3.9, it does not find it if I don't create a `clang-format-3.9` symbolic link.

[2016-12-13 23:45] aprokop commented on #148
Can we use some stuff from [here](https://cmake.org/pipermail/cmake/2014-January/056677.html)?

[2016-12-14 14:22] dalg24 commented on #146
It does not make much sense any more to have this in our CMakeLists.txt since we are working out of release versions of MOAB and this `moab-revision` file won't be there.
I would just remove it.

[2016-12-14 14:50] dalg24 commented on #148
[Here](https://github.com/ORNL-CEES/DataTransferKit/blob/master/cmake/CodeFormat.cmake#L1) is where CMake looks for `clang-format`.  There is no such CMake module as `ClangFormat` so `find_program` is the right approach.  The reason why I did not search for `clang-format` without the version as suffix is that if we detect a version other than 3.9, the output of `check_format_cpp` will be different

[2016-12-14 16:26] #148 closed

[2016-12-14 18:59] #146 closed

[2016-12-14 23:19] Rombur opened #153 "Version 2.0.0 Known issues"
Below are some known issues with DTK version 2.0. Since DTK 2.0 is deprecated, these issues won't be fixed:
 - `BasicEntitySetIterator::begin()` and `BasicEntitySetIterator:end()`: The return type is an object of the base class, `EntityIterator`, but we are returning an object of the derived class. This means that we would need a constructor of the type `EntityIterator(const BasicEntitySetIterator

[2016-12-15 05:54] aprokop commented on #135
Fixed in #139.

[2016-12-15 05:54] #135 closed

[2016-12-15 05:55] aprokop commented on #130
Fixed in #134.

[2016-12-15 05:55] #130 closed

[2016-12-15 05:57] aprokop commented on #85
Closing for now, as there is no step we can take until github provides more functionality. Will reopen then.

[2016-12-15 06:00] aprokop commented on #26
There are some scripts available now. Whenever we encounter most ssing script on a new platform, commit!

[2016-12-15 06:00] #26 closed

[2016-12-16 17:05] #93 closed

[2016-12-16 20:43] sslattery commented on #137
I really like the coverage [output](https://codecov.io/gh/ORNL-CEES/Cap) - I think this would be really helpful

[2016-12-16 21:33] sslattery commented on #137
Ran a few of the operator tests in the docker with valgrind. Clean so far except for MPI...

[2016-12-19 18:49] Rombur opened #160 "Configure error when Fortran is not enable"
Using `-DTrilinos_ENABLE_Fotran=OFF` should disable the fortran api. Right now it produces the following error:
CMake Error: CMake can not determine linker language for target: dtk_fortran_api
CMake Error in DataTransferKit/packages/Adapters/Fortran_API/src/CMakeLists.txt:
  Exporting the target "dtk_fortran_api" is not allowed since its linker
  language cannot be determined

[2016-12-19 18:56] aprokop commented on #160
Weird, I always configure with Fortran OFF, but have not seen this error.

[2016-12-19 18:57] sslattery commented on #160
i didn't even know that was an option. we should fix the cmake to support that.

[2016-12-19 18:58] dalg24 commented on #160
I did not list Fortran in the list of dependencies of the Fortran_API...

[2016-12-19 20:31] dalg24 commented on #160
@aprokop I bet you had that silly `-D Trilinos_ASSERT_MISSING_PACKAGES=OFF` flag at the time.

[2016-12-19 20:34] aprokop commented on #160
@dalg24 True. But also, don't you have to enable Fortran_API explicitly in the configuration script?

[2016-12-19 20:38] dalg24 commented on #160
Here is how to reproduce what @Rombur reported.
[code]
which yield
[code]

[2016-12-19 20:43] aprokop commented on #160
I looked at ForTrilinos, and surprisingly they also don't have Fortran dependency in their `Dependencies.cmake`. Not sure why. So I don't even know if you can drive it from Dependencies, or if you have to add logic to the package's `CMakeLists.txt`.

[2016-12-19 23:49] aprokop opened #162 "Tighter integration between git and clang-format"
LLVM has `git-clang-format`. So far, I've been able to use it in the following way.

Configuration
--------------
Make sure `git-clang-format` is in `$PATH`. Then configure `git`:
[code]

Usage
-----
`git clang-format` is run only on the files in the stage (unless run with `--force` option). Thus, a user must do the following:
1. Edit files
2. Do `git add` to populate the stage
3. Do `git clang-fo

[2016-12-20 03:30] #160 closed

[2016-12-20 16:23] sslattery commented on #137
See #153 for @Rombur results on sanitize

[2016-12-20 16:32] sslattery commented on #137
@rombur will open new issue on sanitize builds in CI

[2016-12-20 16:33] #85 closed

[2016-12-20 20:40] Rombur opened #164 "Sanitizers"
Steps needed to run the sanitizers:
 - [x] create a Docker image similar to `dtk-stack` but compiled using clang
 - [x] add script to compile dtk with the sanitizer flags
 - [x] ignore known issues in DTK
 - [x] use jenkins to run the sanitizers daily or on merge on master

[2016-12-20 20:42] aprokop commented on #164
Do we really need a new Docker image, or simply setting `OMPI_MPICC` and `OMPI_MPICXX` would suffice as `clang` is already installed?

[2016-12-20 20:45] Rombur commented on #164
I don't think that `clang` is already installed. We just install `clang-format` which in ubuntu can be installed without installing `clang` itself. I am also using the `OpenMP` runtime library from `clang` instead of the one from `gcc`.

[2016-12-20 20:47] aprokop commented on #164
Oh, OK, I did not realize it was separated from the clang compiler itself. Still, would it be easier just to update the existing image to also include clang? I would prefer as few images as possible as updating one would mean updating all and keeping them in sync. The size would increase, but I would be OK to pay that price.

[2016-12-20 20:53] sslattery commented on #164
@dalg24 what do you think about a single large image vs. multiple smaller images?

[2016-12-20 20:53] Rombur commented on #164
We could. The two Dockerfile are almost identical right now. So the plan was to have a `Makefile` that would create the `Dockerfile`. Something like `make gcc_compiler` would create the `Dockerfile` for the `gcc` compiler from `Dockerfile.in`. We could put everything in one image but I am not a fan of mixing compiler.

[2016-12-20 20:57] aprokop commented on #164
If you are hesitant of mixing compilers installed by Ubuntu, maybe use Spack?
`spack install gcc`, `spack install llvm`, `spack load gcc`/`spack load llvm`

[2016-12-20 21:02] Rombur commented on #164
@aprokop I don't want to use `boost` compiled with `gcc` with `trilinos` compiled with `clang`. Or are you suggesting to have `boost` compiled with `gcc` and `boost` compiled with `clang` in the same image?

[2016-12-20 21:05] dalg24 commented on #164
@sslattery wrote:

Unsure at this point.  The main thing is we do not want to maintain many Dockerfile(s) if we can avoid (that good ol' reusability principle).  For the moment we just need one image and we'll be able to advise later.

[2016-12-20 21:06] aprokop commented on #164
Oh, I see you problem. I guess the issues is that our Dockerfile actually compiles a lot of stuff itself. Forgot about that. I see you point then. Having two images is fine in that situations as most TPLS would be duplicated for gcc+clang. Spack is still feasible but at a much larger cost.

[2016-12-20 21:08] dalg24 commented on #164
As much as I'd love to have a Spack recipe to setup the development environment and install the TPLs (c.f. #103), this might be a gigantic pain to implement.

[2016-12-20 21:09] aprokop commented on #164
@dalg24 As much as I'd like, I cannot really contradict that.

[2016-12-21 18:54] sslattery opened #166 "Kokkos Initialization for Apps using DTK"
With Kokkos now being added to DTK Kokkos must be initialized and finalized such as:

[code]

This works great for libraries and applications already using DTK, but does not work for apps that don't. This includes apps that might use other performance portable tools or those that explicitly program using an MPI+X paradigm.

How should we handle this case? Ideally DTK should be usable without any k

[2016-12-21 19:37] Rombur commented on #166
We either let the user take care of that or we can do sth similar to what is done in [dealii](http://www.dealii.org/developer/doxygen/deal.II/classUtilities_1_1MPI_1_1MPI__InitFinalize.html). We create a class `DTK_InitFinalize`. In the constructor we check if `kokkos` is initialized (it looks like they have a function `is_initialized`) and if `kokkos` is not initialized, then we initialize it. Th

[2016-12-21 22:01] dalg24 opened #170 "Update pre-built image"
The goal of this issue is to put together a wish list for the next dtk-stack. Please feel free to edit.

[2016-12-21 22:02] dalg24 commented on #170
* emacs
* curl

[2016-12-21 22:17] Rombur commented on #170
I need what's in #168

[2016-12-22 14:00] #170 closed

[2016-12-22 14:15] dalg24 commented on #170
Reopen as necessary in the future.

[2016-12-22 19:34] sslattery opened #172 "Add CUDA to Docker"
CUDA is needed for development and testing. Options include adding CUDA to the existing docker cmake file or creating an extension of that file. Also, several local machine parameters must be respected including the local CUDA version and the local compute hardware capability.

[2016-12-22 19:41] aprokop commented on #172
CUDA download typically means accepting some king of licensing agreement. Can you actually distribute images like that?

[2016-12-22 19:42] sslattery commented on #172
My plan was to use the CUDA already installed on the hardware - we wouldn't distribute CUDA with the image. So we'll have to a have a way to get the CUDA information from the hardware.

[2016-12-22 19:45] sslattery commented on #172
Apparently NVIDIA has a [Docker](https://github.com/NVIDIA/nvidia-docker)

[2016-12-28 16:19] #162 closed

[2017-01-06 17:06] Rombur commented on #164
We will need to decide what triggers the sanitizer. Ideally, we would want to have a second webhook to trigger jenkins but it doesn't look like it's possible :-( Right now the webhook triggers both the experimental and the sanitizer build but since there is only one place to report the result the experimental build overrides the sanitizer build.

[2017-01-06 17:56] sslattery commented on #172
OK so looks like we can just add cuda 8 to our image and then attach the container to the host card at runtime per the last post in http://stackoverflow.com/questions/25185405/using-gpu-from-a-docker-container

So I think we should add this to the container and verify we can run on the local card. Then we can work through configuration details for when a GPU is present (i.e. in the docker_cmake)

[2017-01-06 17:57] sslattery commented on #172
we don't want the drivers however - just the toolkit to be installed

[2017-01-06 22:22] dalg24 commented on #164
We can disable the update of the commit status but keep the trigger.  Does that make sense?

[2017-01-10 16:59] sslattery opened #181 "Demonstration of portable performant vector-based interfaces"
Checklist for FY17 end of Q2 milestone

[2017-01-12 14:14] Rombur commented on #164
Closed by #177

[2017-01-12 14:14] #164 closed

[2017-02-22 21:39] aprokop commented on #172
Fixed in #180.

[2017-02-22 21:39] #172 closed

[2017-03-09 22:55] Rombur opened #189 "Need to investigate difference between builds with and without ETI"
In [ETI.txt](https://github.com/ORNL-CEES/DataTransferKit/files/832477/ETI.txt), there is an example of how different the includes are with and without ETI. We need to make sure that if there is no cyclic dependency in an ETI build, it is impossible to have a cyclic dependency in a build without ETI. Otherwise, we will need to test the build without ETI with jenkins.

[2017-03-21 21:38] dalg24 opened #192 "CMake error in downstream package that built Trilinos/DTK with Fortran disabled"
CMake `find_package(Trilinos ...)` raising an error stating that `<trilinos dir>/lib/cmake/DataTransferKitFortran_API/DataTransferKitFortran_API.cmake` does not exist even though DTK built with `-D Trilinos_ENABLE_Fortran=OFF`.

[2017-03-22 14:25] dalg24 opened #193 "Generate Sphinx and Doxygen documentation as part of our CI"
Currently we do not ensure that the doc builds without errors when we push changes.

[2017-03-22 14:32] dalg24 commented on #193
- [ ] sphinx documentation (published on https://datatransferkit.readthedocs.io; updated when changes are pushed on master)
- [ ] doxygen documentation (published on gh-pages; updated manually at the moment)

[2017-03-22 14:32] #192 closed

[2017-03-23 19:19] dalg24 commented on #193
Closing as both #194 and #195 got merged into master.  We might consider reopen if we decide to publish an updated version of the Doxygen documentation when changes are pushed to master.

[2017-03-23 19:19] #193 closed

[2017-03-24 15:23] sslattery opened #196 "License definition in source and test files"
Currently all source and test files have a very large header stating the DTK BSD 3-clause license which is also defined in the top-level directory in `/LICENSE`. It was suggested to remove this and simply point to the file in `/LICENSE` to remove a substantial amount of code. I would advocate doing this to all new code (i.e. everything going in the `/packages/Kokkos` directory. This would also mak

[2017-04-04 16:52] amccaskey opened #197 "Implement LibMesh example for new functional interface"
This issue is for tracking work on the implementation of UserDataInterface functions for a Libmesh example. This is for demonstrating the utility of the new functional interface.

[2017-04-07 19:29] Rombur commented on #189
I am going to close this. I tried to create cycles and I couldn't. So unless we do some strange we should be good.

[2017-04-07 19:29] #189 closed

[2017-04-20 18:03] Rombur opened #198 "Docker for CUDA"
For some reasons, I couldn't compile `master` with the containers. I had to add `-D CMAKE_CXX_FLAGS="-std=c++11 --expt-extended-lambda"` to our script. This was inside the same image than the one we use on fetnat.

[2017-04-20 18:03] sslattery commented on #198
Those flags are needed - they are not in the master script?

[2017-04-20 18:05] dalg24 commented on #198
@Rombur Do you want to open a PR to see the build on fetnat01?

[2017-04-20 18:09] Rombur commented on #198
@sslattery they are not  in `CMAKE_CXX_FLAGS`, we've put them in `CUDA_NVCC_FLAGS`

[2017-04-20 18:22] Rombur commented on #198
looks like it doesn't work on fetnat either

[2017-04-20 18:23] Rombur commented on #198
Yes same error as the one I have `error: __host__ or __device__ annotation on lambda requires --expt-extended-lambda nvcc flag`

[2017-04-20 18:31] dalg24 commented on #198
You tried "manually"?  How did the build go through before the merge...

[2017-04-20 18:33] Rombur commented on #198
No, the PR fails.

[2017-04-20 18:36] dalg24 commented on #198
Oh sorry I had not seen it.  Hmmm would you do a commit with the new flags then?

[2017-04-20 18:39] dalg24 commented on #198
I start wondering if we want to remove the `-i` in the Jenkins [build script](https://github.com/ORNL-CEES/DataTransferKit/blob/master/docker/jenkins/build.sh#L36).

[2017-04-21 15:59] #198 closed

[2017-04-25 19:29] Rombur opened #201 "ETI: XXX_decl.hpp vs XXX.hpp"
Before the merge of #187, we use the combination `XXX_decl.hpp` (header) / `XXX_def.hpp` (definition) but now I only see `XXX.hpp` / `XXX_def.hpp` Why is that? I am confused how this work with [ETI](https://github.com/ORNL-CEES/DataTransferKit/blob/master/packages/Kokkos/src/DTK_ETI_SC_LO_GO_NT.tmpl)

[2017-04-25 19:40] aprokop commented on #201
I did not notice that, and it also seems confusing to me now.

[2017-04-25 19:42] sslattery commented on #201
Yes we should talk about this. A lot of what was added through the interface work is header-only for now. We should think about how ETI impacts this.

[2017-04-27 16:00] aprokop opened #202 "DTK does not compile without Serial node"
We have no check in DTK regarding the presence of the Serial node type, however it is used unconditionally in Interface/src/OperatorVector.

[2017-05-08 22:08] aprokop opened #203 "Next steps for BVH"
- [x] GPU priority queue
- [x] clean BVH
- [x] remove old DTK code

[2017-05-09 13:36] Rombur opened #204 "Clang-format"
Should we stay with clang-format 3.9 or move to clang-format 4.0?

[2017-05-09 13:37] dalg24 commented on #204
Did you check if this would introduce much changes?

[2017-05-09 13:39] Rombur commented on #204
Nope, it's more of a general question about our policy. Do we want to stick with clang-format 3.9 or use the latest version?

[2017-05-09 13:39] aprokop commented on #204
Is there a compelling reason? Personally, I don't care as long as spack supports whatever version we want to use.

[2017-05-09 14:06] Rombur commented on #204
Difference between clang-format 4.0 and clang-format 3.9 on #205

[code]

[2017-05-09 14:07] dalg24 commented on #204
That's all?

[2017-05-09 14:07] Rombur commented on #204
yep

[2017-05-09 14:12] aprokop commented on #204
Hmm, I was hoping that once Fedora 26 is released (~ June) it would have llvm-3.9 in it, and I won't need to use an extra. But don't consider this as a showstopper, go with whatever you decide.

[2017-05-09 15:36] aprokop commented on #103
Add spack installation docs similar to [Cap docs](http://cap.readthedocs.io/en/latest/install.html?highlight=spack#third-party-libraries)

[2017-05-09 15:53] aprokop commented on #202
Will be closed by #205

[2017-05-09 15:57] aprokop opened #206 "Move to signed ordinals?"
What are pros and cons?

[2017-05-09 16:08] sslattery commented on #181
Milestone has been completed and submitted

[2017-05-09 16:08] #181 closed

[2017-05-09 20:02] Rombur commented on #206
I found a nice article about it https://kristerw.blogspot.de/2016/02/how-undefined-signed-overflow-enables.html Like people say in the comment while these optimizations are possible most of them shouldn't make any big difference (Also some optimizations are only possible with `unsigned int` http://stackoverflow.com/questions/4712315/performance-of-unsigned-vs-signed-integers). The main advantage s

[2017-05-09 23:55] #202 closed

[2017-05-09 23:56] aprokop commented on #206
Mark has some interesting thoughts (here)[https://groups.google.com/forum/#!topic/trilinos/ruXNsFQ-1K4]. Of particular importance:
[code]

[2017-05-09 23:59] aprokop opened #208 "Update Docker container"
Catchall for the next Docker container update:

- [x] kokkos-tools ??
- [ ] ~~update CUDA (there is an update for CUDA 8.0)~~ this is irrelevant.  CUDA is installed when **extending** the DTK base image and the version needs to match whatever is installed on the host.

- [x] ninja-build
- [x] python-sphinx
- [x] python-breathe
- [x] kokkos-2.03.05

[2017-05-11 14:03] sslattery opened #209 "Portable DBC Macros"
It became clear from the discussion in #207 that portable DBC macros are needed. We should come up with a strategy for this and implement.

[2017-05-11 16:39] aprokop opened #211 "Create a performance driver for BVH"
Should allow for:
- [x] running using different node types
- [x] changing the number of points
- [x] switching between knn and radius searches

Base it on the linearbvh test.

[2017-05-12 04:24] aprokop commented on #209
I got hit by a related issue today: if you choose CMake's build type `RELEASE` or `RELWITHDEBINFO`, CMake would add `-DNDEBUG` which would ignore assert. Some of the asserts should really be exceptions, and we need to look carefully to separate them.

[2017-05-12 17:55] #196 closed

[2017-05-12 18:45] Rombur opened #214 "Improve queries"
We need to rework `spatial_query` and `nearest_query`.
  - For `nearest_query`, we can allocate beforehand the size of the `indices` array/View (the size is the number of nearest neighbor we are looking for).
  - For `spatial_query`, the current implementation is not robust. We should do two passes. During the first pass, we count the number of leaf nodes which satisfy the predicate. We can then a

[2017-05-12 18:47] aprokop commented on #214
The second pass in `spatial_query` should be optional. You could still provide some pre-existing number that you try to fill, and only do the second pass if you exceed it.

[2017-05-13 03:44] aprokop opened #216 "Create common ETI infrastructure"
Merge duplicated code from multiple DTK subpackages into a common framework.

Very challenging work, only the best person can do it!

[2017-05-13 15:16] #211 closed

[2017-05-15 00:27] aprokop commented on #204
I guess we are all OK with moving to clang-4. Closing this as it is inherited by #208.

[2017-05-15 00:27] #204 closed

[2017-05-16 16:27] sslattery opened #217 "Create Nearest Neighbor Point Cloud Map"
Tasks to complete this:

- [x] Wrap up loose ends on coarse local search

- [x] Finish ETI/directory structure refactor

- [x] Implement basic coarse global search without load balancing

- [x] Develop preliminary nearest neighbor transfer operator with Tpetra Import/Export or other communication strategy

[2017-05-16 16:27] sslattery commented on #217
Let's create issues for each bullet

[2017-05-16 16:28] aprokop commented on #217
This is a meta-ticket to track other tickets.

[2017-05-16 16:30] aprokop commented on #216
Related to #217.

[2017-05-16 16:30] aprokop commented on #214
Related to #217.

[2017-05-16 16:30] aprokop commented on #209
Related to #217.

[2017-05-16 16:31] aprokop opened #218 "Implement basic coarse global search without load balancing"
Related to #217.

[2017-05-16 16:31] aprokop opened #219 "Develop preliminary nearest neighbor transfer operator with Tpetra Import/Export"
Related #217

[2017-05-20 21:22] aprokop commented on #103
The TPLs Spack documentation is in #223.

[2017-05-20 21:23] aprokop commented on #103
Added a PR to upstream inclusion of DTK spack build in llnl/spack#4304

[2017-05-23 15:42] sslattery opened #224 "Investigate and Unit Test CUDA-Aware MPI"
A unit test (or tests) are needed to demonstrate and protect supported CUDA-aware MPI capabilities. This test should allow for basic MPI operations directly with `Kokkos::View` objects.

[2017-05-23 15:59] dalg24 commented on #201
Want to add a note about it on [ReadTheDocs](http://datatransferkit.readthedocs.io/en/latest/coding_guidelines.html)?

[2017-05-23 16:04] sslattery commented on #201
Action item before close - add to [ReadTheDocs](http://datatransferkit.readthedocs.io/en/latest/coding_guidelines.html)

[2017-05-23 18:36] aprokop opened #226 "Update BVH driver to compare with boost::rtree and Nanoflann"
This would establish the baseline and maybe point us to some new ideas.

[2017-05-23 19:36] aprokop opened #228 "Code coverage uncertainty"
Few things:
1. Because we have a single OpenMP build, code coverage does not cover CUDA code.
2. For some reason, the `join` operator in `ExpandBoxWithBoxFunctor` is shown as *not* covered.

[2017-05-24 15:42] dalg24 commented on #203
#220 and #229 addressed cleaning up the code.

[2017-05-24 15:42] dalg24 commented on #203
closing in favor of #226 that will do preliminary performance analysis

[2017-05-24 15:42] #203 closed

[2017-05-24 15:44] dalg24 commented on #214
Resolved by #221

[2017-05-24 15:44] #214 closed

[2017-05-24 16:14] aprokop commented on #214
Is this really resolved? Should not we fix the knn search first to not do the count pass?

[2017-05-24 16:16] Rombur commented on #214
no that's a performance issue. That's for next year.

[2017-05-24 16:21] aprokop commented on #214
Can we record it somewhere, then?

[2017-05-24 18:17] aprokop opened #231 "DTK tutorial"
Once we have enough material, we could add a DTK tutorial to familiarize users for DTK.
We could write using jupyter+cling. A MueLu developer wrote [one](http://www.tawiesn.de/blog/?x=entry:entry170408-231332) for MueLu with an available Docker container that we could use as a starting point.

[2017-05-25 21:02] aprokop commented on #208
Why is `kokkos-tools` not checked in?

[2017-05-30 15:29] sslattery commented on #228
Will take a look at coverage build for OMP_NUM_THREADS setting. Perhaps `join` is not getting called because only 1 thread is executing.

[2017-05-30 15:32] sslattery commented on #224
This needs to be resolved to address #222

[2017-06-02 20:08] Rombur opened #235 "ETI for CudaSpace"
Kokkos supports four "main" spaces: Serial, OpenMP, CudaUVM, and Cuda. However, our ETI, based on Tpetra, only instantiates three of those: Serial, OpenMP, and CudaUVM which means that we do _not_ support Cuda. In #234, there is a test that shouldn't pass on fetnat but it does because of UVM. Since we don't test Cuda space, it is very probable that it is broken/will be broken soon. So what should

[2017-06-02 20:11] aprokop commented on #235
I remember at some point Tpetra *required* UVM. Is that still the case?

[2017-06-02 20:14] Rombur commented on #235
Probably. They still say that it is required it the documentation of trilinos.org and since we have based our ETI on Tpetra's ETI, I don't think they test Cuda without UVM.

[2017-06-03 01:15] Rombur opened #236 "xl compiler"
I quickly tried to install DTK on summitdev using the xl compiler. The first difference with `gcc` is that the variable `NVCC_WRAPPER_DEFAULT_COMPILER` needs to be set because by default the compiler is `g++`. The second difference is that it doesn't configure. I get an error about the mpicxx compiler not being able to compile a simple program. For some reason the flag `-+` is prepended to the `CM

[2017-06-05 14:30] aprokop commented on #236
`-+` is a valid option for xlC. Most likely, `nvcc_wrapper` is not smart enough to not pass this option to  cuda arguments. So, probably need to update the script.

[2017-06-05 14:46] aprokop commented on #235
Maybe look at `kokkos-kernels`?

[2017-06-06 20:20] dalg24 opened #237 "Compliance to xSDK policies"
The xSDK draft community policies are available [here](https://xsdk.info/policies/).

As of draft version 0.3 (as of December 2016), these policies are:
- [x] M1. Each xSDK-compatible package must support either the standard GNU Autoconf or CMake
options
- [x] M2. Each xSDK-compatible package must provide a comprehensive test suite that can be run by
users and does not require the purchase of comm

[2017-06-06 20:30] aprokop commented on #237
Could you please put a full list in this ticket and how we follow them?

[2017-06-06 21:17] dalg24 commented on #237
- [ ] create a list (assignee @aprokop)

[2017-06-07 02:46] aprokop commented on #237
Not sure about what M6 means. M12 means that the old Nanoflann treatment is no go. R3 probably needs more work. Is R5 done through CMake export?

[2017-06-07 20:57] dalg24 opened #239 "Check whether DTK source is a Git repository at configuration time"
At configure time we are checking whether git is installed on the system but we don't actually ensure that the source actually is a repository (i.e. not a tarball) before we try to get the commit hash.

[2017-06-08 15:37] #239 closed

[2017-06-08 16:30] dalg24 commented on #208
I just realized sphinx is not installed in the base image so we are not able to build the documentation from the container unless we run `apt-get update && apt-get install python-sphinx`.
We should probably add it next time we update the base image.

[2017-06-08 18:09] sslattery commented on #235
So if UVM is required for tpetra will we not also then require UVM due to our tpetra dependency?

[2017-06-08 18:13] Rombur commented on #235
Yeah unless we don't use Tpetra for the global search we will need to require UVM all the time.

[2017-06-10 17:38] aprokop commented on #103
PR was merged.

[2017-06-10 17:38] #103 closed

[2017-06-13 00:58] sslattery commented on #228
So if I remember item 1 we decided was not a big deal. Have we determined what the issue with item 2 was?

[2017-06-13 01:00] sslattery commented on #235
So it seems we are restricted to UVM due to tpetra. Can this be closed?

[2017-06-13 01:05] aprokop commented on #228
No.

[2017-06-13 01:12] aprokop commented on #235
If we are indeed restricted to UVM, we need to prohibit instantiation of `DTK::View` on non-UVM memory spaces for CUDA.

[2017-06-13 16:11] sslattery commented on #236
Can we make a kokkos github issue for this?

[2017-06-13 21:05] aprokop opened #247 "Should we template `UserApplication` on `DeviceType`"
We had a discussion today, but no resolution

[2017-06-13 21:09] aprokop opened #248 "Implement the state machine underneath `Registry` and `UserApplication`"
One cannot do `get*` before setting the corresponding callback function in the Registry. However, one only needs to set only the functions used for a particular `get` to work.

At the minimum, we need to wrap the callback mechanism with a check that the corresponding function has been set.

[2017-06-13 21:13] aprokop commented on #248
There is already a proper check in place that checks that the valid function exists. Invalid issue?

[2017-06-14 14:05] Rombur commented on #224
Because of UVM, there is no need for a unit test. We can always write the code like we had CUDA-aware MPI. Instead, we want to monitor the performance hit of not using CUDA-aware MPI. We can use the code from #234 to write a code that checks the performance. We need to check that we can build OpenMPI with CUDA in a container that does not have CUDA yet. Otherwise, we need to install CUDA in the ba

[2017-06-14 18:30] aprokop opened #249 "Kokkos::fence discussion"
Of significant interest to us: https://github.com/trilinos/Trilinos/issues/1424.

I don't yet fully understand how it works.

[2017-06-16 13:42] Rombur commented on #236
I have open an issue here https://github.com/kokkos/kokkos/issues/897

[2017-06-16 17:42] Rombur commented on #236
`XL` 13.x does not work with Kokkos but the next version of `XL` will.

[2017-06-16 20:09] aprokop opened #252 "Document C/C++ interfaces"
We essentially need to triplicate the docs: C++, C, Fortran.

- Can we lift docs from C++ interface? Particularly, can we use doxygen to link to those chunks?
- Can we get statistics of the number of apps using C++/C/Fortran?

[2017-06-17 22:44] aprokop commented on #248
I remembered: at the moment, we don't ever check whether DTK was initialized/finalized when working with `Registry`/`UserApplication`. We need to add checks to all of those methods.

[2017-06-18 03:25] aprokop opened #254 "Provide the second version of DTK_initialize"
Based on `Kokkos::InitArguments` in [Kokkos_Core.hpp](https://github.com/kokkos/kokkos/blob/master/core/src/Kokkos_Core.hpp). Also need it for C_API (which would probably need to copy the parameters). Must have for Fortran.

[2017-06-18 14:25] aprokop commented on #254
Implemented in one of the commits in #253. Will need to pull it out into a separate commit.
One ugly thing is that C does not support overloading, so cannot use the same `DTK_initialize` name for both functions.

[2017-06-20 20:08] Rombur commented on #208
We need to update Trilinos in docker to use Trilinos: 545269e1838282d98c4a113e17e6322d9c87fe8b or later.

[2017-06-20 20:14] Rombur commented on #208
I spoke too soon. There has been another update that we need so we will need 4720e36b7892139f31589679b978c0049607de53 once it is merge into master (probably tomorrow).

[2017-06-21 13:59] #254 closed

[2017-06-21 21:01] Rombur opened #259 "Supported configuration"
#258 shows two bugs that were not caught by our current test suite. So we need to think what we want to support. For now, the only optional dependency is MPI. Thus we only need to consider the `ExecutionSpace/compiler` combination. Below is a table of the possible combinations.

Compiler | S | O | C | SO | SC | OC | SOC
----------- | -- | -- | -- | ---- | --- | ---- | -------
clang 6.0 | - | - | -

[2017-06-22 12:44] aprokop commented on #259
My 2 cents.

The compiler selection should be based on our target platforms (Titan, Summit, Cori).

Regarding the builds, I'd say
a) A single S, does not matter what compiler. This is just to catch the codepath. I don't expect this to be exercised much in the long term.
b) SO should be checked for all available compiler vendors using versions from target platforms. I think this is probably the mos

[2017-06-22 12:54] Rombur commented on #259
I disagree that this option will disappear in the future. I can fill an exascale system using only MPI with  multiscale codes. I expect that, if they can, a lot of people will keep their code MPI only.

[2017-06-22 12:57] aprokop commented on #259
@dalg24 You can do that even if you compile with both Serial and OpenMP.

[2017-06-22 13:29] Rombur commented on #259
@aprokop sure. I am just saying that I don't think that people will stop using S alone any time soon.

I have updated the first post, to add which compilers are/will be supported by each platform.

[2017-06-22 15:10] aprokop commented on #237
M8 has been implemented in #238.

[2017-06-26 21:16] sslattery commented on #252
Need corresponding domain model in ReadTheDocs (or Doxygen) as well for a high level overview of design and structure

[2017-06-26 21:20] sslattery commented on #252
For now will just document c interface as it is closer to fortran than c++ and c++ users could use or read c

[2017-07-03 19:42] Rombur commented on #166
Fixed by #242

[2017-07-03 19:42] #166 closed

[2017-07-05 13:47] #235 closed

[2017-07-05 14:11] sslattery commented on #218
Being worked on in #222

[2017-07-06 12:35] Rombur commented on #208
@dalg24 do you want me to update the image or do you want to do it?

[2017-07-13 18:44] aprokop commented on #208
Do we close this?

[2017-07-20 21:50] dalg24 opened #271 "BVH does not work if the number of leaves is not greater than or equal to 2"
This is a known prerequisite for our current search tree implementation to work properly and we would like to get rid of it.

[2017-07-20 21:53] aprokop commented on #252
Complete.

[2017-07-20 21:53] #252 closed

[2017-07-20 21:55] dalg24 commented on #271
I have a fix for this in #272.  I plan on doing a separate PR to address it but I need to talk to Bruno before I do so.

[2017-07-21 01:49] crtrott opened #273 "Kokkos Initialization"
Hi

just a comment, after I was browsing through the code a bit I found a little thing: you say in the kokkos_init that Kokkos promises not to modify the arc/argv combo. That is not correct. We do remove all arguments Kokkos recognizes which start with '--kokkos' (e.g. we remove --kokkos-threads, but not --kokkos-shall-be-awesome ;-) ).

You currently use std::forward to pass the stuff on. Not sur

[2017-07-21 04:58] dalg24 commented on #273
@crtrott This was copied from Tpetra.  See [here](https://github.com/trilinos/Trilinos/blob/master/packages/tpetra/core/src/Tpetra_Core.cpp#L83).  We did not bother checking that is was accurate.  Anyway, thank you for pointing that out!

[2017-07-21 19:25] #273 closed

[2017-07-24 14:15] #271 closed

[2017-08-01 15:37] sslattery opened #280 "Shape Function CrsMatrix Interpolation Operator"
This issue tracks the development of a finite element shape function interpolation operator using Tpetra, Kokkos, and the search capability.

- [ ] Hook mesh interface into coarse search interface

- [ ] Use fine search with results from coarse search

- [ ] Allocate and fill Tpetra CrsMatrix with shape function interpolants using Kokkos

- [ ] Hook field interface into operator apply interface

[2017-08-01 15:42] sslattery opened #281 "Moving Least Square CrsMatrix Interpolation Operator"
This issue is for construction of the moving least square CrsMatrix interpolation operator

- [ ] Build Kokkos radial basis function infrastructure

- [ ] Hook node list interface into coarse global search

- [ ] Use coarse global search to get neighbors and distances

- [ ] Use neighbors and distances to build moving least square interpolant using batched dense linear algebra

- [ ] Allocate and

[2017-08-01 15:45] sslattery opened #282 "Radial Basis Function Infrastructure"
DTK 2.0 radial basis function implementation will be ported to Kokkos device functions to allow for batched execution and composition of point cloud operators

API in 2.0 is [here](https://github.com/ORNL-CEES/DataTransferKit/blob/dtk-2.0/packages/Operators/src/PointCloud/DTK_RadialBasisPolicy.hpp)

Should implement all available orders of:

- [x] Wu Basis

- [x] Buhmann Basis

- [x] Wendland Basi

[2017-08-01 15:59] sslattery opened #283 "Batched Linear Algebra Support"
Batched linear algebra is needed for some point cloud algorithms. Identify the path forward for some support batched LAPACK operations. Does not seem to be in [kokkos-kernels](https://github.com/kokkos/kokkos-kernels) yet.

Supported features needed are in the 2.0 implementation of the [moving least square operator](https://github.com/ORNL-CEES/DataTransferKit/blob/dtk-2.0/packages/Operators/src/P

[2017-08-03 19:13] dalg24 opened #285 "Compile errors with Intel"
- [x] The C API test seems to be using a feature that was introduced in C99 (declaration of the loop counter variable within the init-statement of the for loop).  This yielded errors when compiling `packages/Interface/test/tstC_API.c`.  An option would be to move the declaration of the variable that is incremented in the loop outside:
[code]
Another one would be to ensure that the test is compiled

[2017-08-03 20:53] dalg24 commented on #285
Posting my configure script here for reference.  I am using the Intel MPI wrappers and MKL.
[code]

[2017-08-04 12:11] #285 closed

[2017-08-07 14:32] sslattery opened #287 "Type Clashes in `DTK_Types.h`"
The code in [here](https://github.com/ORNL-CEES/DataTransferKit/blob/master/packages/Utils/src/DTK_Types.h) in `DTK_Types.h` creates typedefs such as `Coordinate` but this is not in a namespace because it is a C file. Should we add a DTK prefix to these so they are, for example, `DTK_Coordinate`?

[2017-08-07 17:45] aprokop commented on #287
Yes, I think this would a correct approach to fix it. Then, in C++ interface we would still define them.

Should `DTK_Types.h` then be a `details/` file as it should only be included by DTK but not by users?

[2017-08-07 17:47] sslattery commented on #287
I could see it being in a `details/` directory

[2017-08-07 19:29] sslattery commented on #287
Although looking at these typedefs - do we need these at this point? Do we envision instantiations on other types for these variables?

[2017-08-07 20:01] aprokop commented on #287
I would leave them in.

[2017-08-08 15:24] sslattery opened #289 "Separate Fine Search components into new subpackage"
We will separate the fine search capability into a new subpackage that will contain a collection of location projection capabilities. This will also reduce the dependencies needed to build the `Search` subpackage.

- [ ] Rename `FineSearch` to more appropriately describe its point-in-cell capability

- [ ] Create new subdirectory and move fine search with its tests. `Discretization` is a suggested

[2017-08-08 15:53] sslattery commented on #247
Yes - everything in the `Interface` subpackage had a `ParallelModel` template parameter. Will change to `DeviceType`

[2017-08-08 16:02] sslattery commented on #283
Should expect the following in the August kokkos-kernels release via update from kokkos-kernels team:

- GETRF (LU Factorization)

- GEMM (Matrix-matrix multiply)

- TRSM (Lower/Upper triangular solve)

Which means that at the moment we will be limited to moving least square basis systems that can be factored using LU

[2017-08-09 15:16] dalg24 opened #291 "Configuration in Docker container"
Do [these two lines](https://github.com/ORNL-CEES/DataTransferKit/blob/master/scripts/docker_cmake#L44-L45) make any sense in `scripts/docker_cmake`?

[2017-08-09 15:19] Rombur commented on #291
Right now, I don't think so. It's only useful if we read an exodus file.

[2017-08-09 20:25] #291 closed

[2017-08-09 21:05] dalg24 commented on #208
Feel free to re-open if you'd like something to be added to the base image.

[2017-08-09 21:06] dalg24 commented on #218
Addressed by #272 that has been merged into master

[2017-08-09 21:06] #218 closed

[2017-08-10 14:27] Rombur opened #295 "Code style: input/output order"
Right now, we don't have a rule on the order of inputs and outputs in functions. Sometimes we put the inputs first and then the outputs and sometimes it's the other way around. I think that it would make it easier to always use the same rule. What do you guys think? Personally, I prefer (output, input) over (input, output) because it makes more sense when you have a default parameter.

[2017-08-10 14:35] sslattery commented on #295
I agree. I like  (output,input) because of the default parameter argument

[2017-08-10 14:37] dalg24 commented on #295
What if default param is output?

[2017-08-10 14:37] sslattery commented on #295
what is an example of an output argument having a default parameter?

[2017-08-10 14:41] dalg24 commented on #295
[`DistributedSearchTreeImpl::sortResults()`](https://github.com/ORNL-CEES/DataTransferKit/blob/master/packages/Search/src/details/DTK_DetailsDistributedSearchTreeImpl.hpp#L105)
[`DistributedSearchTreeImpl:: communicateResultsBack()`](https://github.com/ORNL-CEES/DataTransferKit/blob/master/packages/Search/src/details/DTK_DetailsDistributedSearchTreeImpl.hpp#L93)
[`DistributedSearchTreeImpl:: query

[2017-08-10 15:02] aprokop commented on #295
A tangential comment: https://stackoverflow.com/questions/26441220/googles-style-guide-about-input-output-parameters-as-pointers.

[2017-08-10 15:31] Rombur commented on #295
We have default output parameter because you "packed" the input parameter (compute_distance) with the output parameter.

[2017-08-10 15:32] Rombur commented on #295
Apparently, google uses (input, output) but they also disallow default parameters
https://stackoverflow.com/questions/27934633/google-c-style-guide-why-input-then-output-parameter-ordering

[2017-08-10 15:59] sslattery commented on #295
I will admit that if default parameters are not allowed then I actually prefer (input,output)

[2017-08-10 16:00] dalg24 commented on #295
google is not going to tell us how to live or lives.  Or is it?

[2017-08-10 16:10] Rombur commented on #295
Here what cpp guideline recommends https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#Rf-out-multi Apparently `tie` avoids the extra copy.

At the end of the day, I don't think that there is a perfect choice but I would like us to pick one to improve readability.

[2017-08-10 16:31] Rombur commented on #295
@aprokop I am sure you have an opinion on this

[2017-08-10 16:39] aprokop commented on #295
@Rombur I do: you should stop bikeshedding...

[2017-08-18 13:14] #289 closed

[2017-08-18 13:14] #295 closed

[2017-08-30 04:19] aprokop commented on #206
Another one against unsigned: no support in Fortran, so no robust interoperability.

[2017-09-05 21:37] aprokop commented on #283
I don't think this is going to happen in FY17. Can we reassign it to a different milestone?

[2017-09-07 18:24] dalg24 commented on #237
FYI: xSDK now provides a template to document compatibility with the community policies.  See [xsdk-project/xsdk-policy-compatibility](https://github.com/xsdk-project/xsdk-policy-compatibility).

[2017-09-12 19:01] Rombur opened #302 "Switch to clang-format 5.0"
We should update clang-format 5.0 if only for the `ReflownComments` option: `Comment reflow support added. Overly long comment lines will now be reflown with the rest of the paragraph instead of just broken. Option ReflowComments added and enabled by default.` Right now, when the comment is too long, clang-format breaks the comment but sometimes create sth like this:
[code]

[2017-09-12 19:07] aprokop commented on #302
Sure, why not. Just need to add llvm-5 to Spack.

[2017-09-12 19:15] dalg24 commented on #302
-1 for Spack

We are using the LLVM PPA in our Dockerfile.  See [here](https://github.com/ORNL-CEES/DataTransferKit/blob/master/docker/Dockerfile_stack#L34-L40).

[2017-09-12 19:17] dalg24 commented on #302
Regardless, Bruno correctly flagged this as Low Priority.  This is something we want to do eventually but we should not waste any time on it for now and focus on meeting our milestones ;)

[2017-10-04 14:34] dalg24 opened #308 "CUDA 9.0 compile errors"
See build [513](https://cloud.cees.ornl.gov/jenkins-ci/job/DataTransferKit-experimental/513/compiler=GCC54,slave=fetnat01/console) on Jenkins.
Intrepid2 seems to be causing them.

[2017-10-04 21:50] jeff788 opened #309 "error with GETRF with MLS"
Hi,

I'm a relatively new DTK user, but have used it successfully on one project and am now using it on other. I am using DTK 2.0 (2.0.0-5-g63d2fc8) and I am interpolating from one point cloud to another using the following parameters:

[code]

This worked well with one data set, but now it is crashing with the following error:
[code]
I have attached a commented gdb log. I understand that this is

[2017-10-04 22:48] jeff788 commented on #309
I read this paper

https://www.casl.gov/sites/default/files/docs/CASL-U-2015-0177-000.pdf

and now understand (I think) that it is related to the linear dependence of the position vectors of the source points. Right? I increased the number of nearest neighbours from 8 to 10 and it seems to have fixed the problem. Is there a more robust set of parameters/algorithms that I could be using? I'm interp

[2017-10-05 14:03] sslattery commented on #309
@jeff788 thanks your feedback and digging up that paper! Yes - these point cloud methods, particularly the moving least square operator require special attention for certain configurations to avoid singular least square problems hence the work I did in that paper. These originally came from the aerospace community where smooth, curved manifolds typically yielded well-behaved point configurations.

[2017-10-05 14:04] sslattery commented on #309
@jeff788 Do you mind if I ask which institution you are with and what kind of problems you are working on? We are currently developing version 3 of the code which will have OpenMP/CUDA support for advanced architectures and we are always looking for feedback from users to make improvements. Thanks!

[2017-10-05 16:59] jeff788 commented on #309
Yes, I'm at Pacific Northwest National Lab. I used DTK for a project where I coupled a subsurface reservoir simulator (PNNL's STOMP code) to a finite-element mechanics code (LLNL's GEOS). I wrote a conference paper about it and cited DTK (https://www.onepetro.org/conference-paper/ARMA-2017-0478). Now I'm trying to use it to transfer data from the same reservoir simulator, but this time to a geophy

[2017-10-05 16:59] #309 closed

[2017-10-06 18:13] #302 closed

[2017-10-16 19:01] sslattery opened #312 "Point Cloud Development Sprint Week of 10/16/17"
Outline of sprint work for point cloud development:

- [x] Test Tpetra import/export capability to clearly define global id and unique point requirements. This will also demonstrate building Tpetra vectors from Kokkos views of input user data.

- [x] Define point cloud test problems for both surface and volume transfers.

- [x] Develop abstract test problem generator interface with preliminary imp

[2017-10-16 19:03] sslattery commented on #312
Some notes on the abstract problem generator:
- Example outputs might be an `MPI_Comm` handle, a view of output point coordinates, and a view of multi-component data assigned to the points.
- A specific implementation could be randomly building points in a volume or over a surface and then using Zoltan to partition the results.
- A callable object to define the data assigned to the points would be

[2017-10-17 15:30] sslattery commented on #282
Will be closed with merge of #290

[2017-10-17 15:31] sslattery commented on #236
Need to verify that latest version of `XL` works on summit-dev

[2017-10-17 15:39] #128 closed

[2017-10-17 15:55] sslattery commented on #312
Will use `oneToOne` functionality it `Tpetra::Map` to handle ghosted-to-ghosted communication plans.

[2017-10-17 20:13] Rombur commented on #228
I have the correct results [here](https://codecov.io/gh/ORNL-CEES/DataTransferKit/src/36a1632516a9560979b3772cc1ae40d8b7542469/packages/Search/src/details/DTK_DetailsAlgorithms.hpp#L122) The only difference is inside jenkins where the jobs are now separated instead of using a configuration matrix.

[2017-10-18 15:45] Rombur commented on #236
I just checked and summitdev doesn't have xl 14 yet.

[2017-10-18 19:58] Rombur commented on #308
CUDA 9.0 is not yet supported by Kokkos https://github.com/kokkos/kokkos/issues/1174

[2017-10-18 22:18] dalg24 commented on #228
This seem to be resolved by #313

[2017-10-18 22:18] #228 closed

[2017-10-31 16:18] sslattery opened #319 "L2 Projection Prerequisites"
The following tasks should be completed before development of an L2 projection operator:

- [ ] Define inputs and problem generator for mesh problems

- [ ] Obtain example problem from NEAMS users for development of interface and tests

- [ ] Decide on interface to FEM-based operators

- [ ] Update #303 to use interface and merge

[2017-11-06 18:55] Rombur opened #323 "PGI 17.10"
PGI 17.10 was released yesterday. It is supported by Kokkos so we should make it work too.

[2017-11-06 21:48] Rombur commented on #236
So apparently `xl` 13.1.6 is the same as `xl` 14 :unamused: So we need to try again.

[2017-11-14 20:17] Rombur commented on #323
With pgi 17.10, we get a `static_assert` from Kokkos on top of the  linking problems :disappointed:

[2017-11-14 20:25] sslattery commented on #323
should we alert the Kokkos teams to any of these issues?

[2017-11-14 20:30] Rombur commented on #323
Yes but I want to write a test that show the problem first.

[2017-11-16 19:50] sslattery opened #332 "Search Tree Performance Assessment"
Below are some preliminary results.  I pushed the code I used to [dalg24:performance_assessment](https://github.com/dalg24/DataTransferKit/tree/performance_assessment).

Note that I have been using `OMP_NUM_THREADS` to control the number of threads which might not be adequate.  @aprokop suggested I look at `OMP_PROC_BIND`, `OMP_PLACES`, and such.

# Vary number of OpenMP threads
* 1M random points

[2017-11-28 16:26] #217 closed

[2017-11-28 16:27] #219 closed

[2017-11-28 16:57] sslattery commented on #94
Will work with application teams to try to develop application specific benchmarks instead of algorithm specific benchmarks

[2017-11-28 18:54] #282 closed

[2017-12-01 20:16] sslattery opened #335 "Develop Hybrid Transport Demonstration"
A demonstration for solution transfer in a coupled deterministic/stochastic transport simulation will be developed. This is a high level issue for managing the work.

**Notes from initial meeting**

Integrated test problems:
- reactor vessel fluence calculation
- simple problem - dog leg mock-up

Parallelism:
- total number of domains is fixed (number of MPI ranks are fixed)
- shift decomposes ran

[2017-12-04 20:51] sslattery opened #337 "Template NearestNeighborOperator on General View Properties"
The current `NearestNeighborOperator` has the following class signature:

[code]

To allow for more general views with different layout and device combinations we would like to template on general view parameters:

[code]

[2017-12-08 17:32] dalg24 opened #339 "Boost dependency"
It turns out that #290 introduced a new requirement that the version of Boost is at least `1.62.0`
(Because of `boost::math::tools::pow()` in packages/Meshfree/test/tstCompactlySupportedRadialBasisFunctions.cpp)

Also would like to discuss here optional vs required for Boost.
For reference:
* `Utils` currently requires Boost as a `LIB_REQUIRED_TPLS` even though it only uses `BOOST_CURRENT_FUNCTION

[2017-12-13 13:46] Rombur opened #343 "Remove Shards dependency"
Next time we update Trilinos in the docker image, we can remove the dependence on Shards. See [here](https://github.com/ORNL-CEES/DataTransferKit/blob/master/packages/Discretization/cmake/Dependencies.cmake#L9) and [here](https://github.com/ORNL-CEES/DataTransferKit/blob/master/packages/Discretization/src/DTK_PointInCellFunctor.hpp#L13)

[2017-12-21 00:43] dalg24 opened #347 "REGION_NAME() macro should be prefixed"
We use it to mark parallel regions in parallel dispatch operations (e.g., `Kokkos::parallel_for()`).

Here are a few changes I would like to suggest:
* Prefix with `DTK_`
* Rename the macro, possibly to `DTK_MARK_REGION()`
* Move to a different header, possibly a new `DTK_Macros.hpp` file.  IMO, `DTK_ConfigDefs.hpp` is not a good fit.

Any comment on this?

[2017-12-21 00:43] #339 closed

[2017-12-21 00:48] aprokop commented on #347
My 2 cents:
1. `REGION_NAME` should definitely be renamed, I believe it's included in the header files that are installed, so it is in the global space and therefore does not adhere to xSDK policies.
2. I am not sure we need to prefix the boost version, as if I recall correctly `CURRENT_FUNCTION` would include a namespace, and therefore it's going to be DTK specific.
3. I have no opinion on moving

[2017-12-21 00:50] dalg24 commented on #347
@aprokop By prefix I mean the name of the macro not the label.

[2017-12-21 00:51] aprokop commented on #347
@dalg24 I stand by my comment, the macro should be prefixed unless you guarantee that it's not exposed to a user.

[2017-12-21 00:53] dalg24 commented on #347
I AGREE WITH YOU

[2017-12-21 16:19] sslattery commented on #347
I like the name `DTK_MARK_REGION` and I support moving it and other similar macros not defined at configure time to a file such as `DTK_Macros.hpp`

[2017-12-22 21:13] #347 closed

[2018-01-23 22:33] Rombur opened #360 "Interpolation operator interface"
The interface has two constructors and an apply function. The first constructor can be used in the case where the cell topology can define the finite elements, i.e, low order finite elements. The second interface is for high order.

### First constructor
Take as inputs:
 - the communicator,
 - the topology of each cells
 - the id of each node associated to the cells
 - the coordinates of the nodes

[2018-01-26 18:49] dalg24 commented on #209
Might want to have a look at `Kokkos::abort()` in `#include <impl/Kokkos_Error.hpp>`.

[2018-02-13 16:09] sslattery commented on #312
All core capabilities have been developed. Waiting to merge #352

[2018-03-15 17:40] dalg24 opened #375 "Properties on tests are set incorrectly when enabling OpenMP"
When adding a test with TriBITS/CMake we have not been setting test properties carefully.
We might want to look into passing `NUM_TOTAL_CORES_USED` and `ENVIRONMENT OMP_NUM_THREADS=<N>` to `TRIBITS_ADD_EXECUTABLE_AND_TEST()`.  We might also consider `RUN_SERIAL` in some cases.

[2018-03-29 21:47] Rombur opened #379 "Clang-tidy"
Starting from CMake 3.6, CMake has built-in support for clang-tidy. This means that clang-tidy can be used by simply adding sth like: `-DCMAKE_CXX_CLANG_TIDY="/usr/bin/clang-tidy-5.0;-checks=performance-*,mpi-*,portability-*,readability-*"` during configuration. Right now, we are using CMake 3.5 in Docker so we will need to update CMake. The list of acceptable flags for clang-tidy is [here](http:/

[2018-04-18 14:45] dalg24 commented on #208
c.f. #382

[2018-04-18 14:47] dalg24 commented on #208
Any objection to updating clang-format to 6.0?  Speak now or forever hold your peace :/

[2018-04-18 14:49] Rombur commented on #208
Can we use `IndentPPDirectives` and `IncludeBlocks` `Regroup` with clang-format 6.0?

[2018-04-18 14:54] dalg24 commented on #208
Please go ahead and push your changes to the .clang-format onto my branch

[2018-04-19 13:47] dalg24 commented on #208
I assume you meant `IndentPPDirectives` `AfterHash`.  Is that right?

[2018-04-19 13:49] Rombur commented on #208
@dalg24 yes exactly.

[2018-04-20 03:56] dalg24 commented on #379
I wonder if we can use `.clang-tidy` configuration file with this.

[2018-04-20 15:28] #208 closed

[2018-05-01 14:31] Rombur commented on #323
Closing this since PGI 18.4 is out. PGI 18.4 has an `llvm` back end so it should be easier to make it work.

[2018-05-01 14:31] #323 closed

[2018-05-07 14:36] sslattery commented on #335
The following is the work plan:

#368 Implements the baseline partitioners for each of the two different problem classes:

- [x] `CartesianMesh` class which contains the base mesh description need by both deterministic and stochastic grids. This also contains convenience functions for generating the needed `Kokkos::View` data structures.

- [x] `DeterministicMesh` class which builds a `CartesianMe

[2018-05-08 15:30] sslattery opened #389 "Linking Interface Data Structures to Mesh-Free Operators"
We will need an interface to couple interface data structures (i.e. the [`NodeList`](https://github.com/ORNL-CEES/DataTransferKit/blob/master/packages/Interface/src/DTK_NodeList.hpp)) to operator input (i.e. the [`NearestNeighborOperator`](https://github.com/ORNL-CEES/DataTransferKit/blob/master/packages/Meshfree/src/DTK_NearestNeighborOperator_decl.hpp)). This is needed, for example, to support t

[2018-05-15 15:55] hydroo commented on #332
During the last couple of days, I analyzed the performance of Search/examples/bvh_driver on Summitdev.

[bvh_1.xlsx](https://github.com/ORNL-CEES/DataTransferKit/files/2005710/bvh_1.xlsx)

Charts are to the right of the data.

Mind that:
- This was done before #390, which improves the speed of construction by ~9% (serial) on CPU.
- Summitdev is a Testbed, i.e. the result might be 100% what happens

[2018-05-22 15:42] #343 closed

[2018-05-31 18:04] #360 closed

[2018-06-07 15:27] dalg24 commented on #332
Keep track PRs related to search performance here:

PR | Description | Status
--- | --- | ---
390 | builtin function to count leading zeros | merged
393 | heap in priority queue | ready to merge?
394 | avoid square root if possible when computing distance | in progress

[2018-06-20 12:40] dalg24 opened #405 "Build fails if Serial is disable"

[2018-06-20 14:46] sslattery opened #407 "CUDA 9 Warnings for KOKKOS_FUNCTIONS Declared Default"
Per #404 with CUDA 9 default functions such as this emanate warnings:
[code]
while remove the `KOKKOS_FUNCTION` declaration creates build failures in CUDA 8. Using `-Xcudafe --diag_suppress=esa_on_defaulted_function_ignored` solves this issue in CUDA 9 but is only a valid flag in CUDA 9 and not CUDA 8.

We have 2 options for fixing this:
- Create a different set of flags for CUDA 9 and CUDA 8
- In

[2018-06-21 12:43] #405 closed

[2018-07-03 15:19] sslattery commented on #308
Compilation now works but on some systems there are failing tests. Will try to run `valgrind` next on serial versions of failing tests to see if there are some uninitialized data warnings or other read/write errors which would behave differently using CUDA.

[2018-08-08 12:29] sslattery opened #418 "Should MPI be optional or required?"
I think it should be required. It is especially a pain to support with and without using C.

[2018-08-08 13:50] aprokop commented on #418
Optional for me.

[2018-08-08 13:51] Rombur commented on #418
I  think it should be required.

[2018-08-08 19:39] sslattery opened #420 "C Interface Refactor"
For the most part our design of the C interface turned out pretty well as preliminary code integrations were successful and clean. For the most part,  I like the idea of having a single interface, namely the C interface, through which users interact with the code. A few things were observed resulting in some upcoming changes:

1. Removing `DTK_ParallelTraits.hpp`. The work in #408 substantially re

[2018-08-08 19:46] sslattery opened #421 "Package Structure"
Our current build structure has `DataTransferKit` as a package and our remaining capabilities as sub packages. However, all of our packages sans a few (e.g. benchmarks) are required. Having a multitude of different packages creates some negative side effects. For example, we have a replicated ETI system in every package. My idea is:

1. Reduce the number of required packages to a single required `

[2018-08-08 20:07] aprokop commented on #421
Why not make it a single package, and then control what builds by tracking what's enabled? (and this has nothing to do with directory organization).

+1 for making search its own package. The MPI/Distributor infrastructure should be a part of the search package.

[2018-08-14 16:32] sslattery commented on #418
For now we will document a requirement for MPI but we are open to revisiting in the future to explore an optional MPI dependency. The MPI dependency on search (for distributed searches) will be addressed as that package is separated.

[2018-08-16 02:18] dalg24 opened #427 "Add machinery to exclude source files from formatting"
From time to time we might want to ClangFormat to ignore some files in the future (see [here](https://github.com/ORNL-CEES/DataTransferKit/pull/426#issuecomment-413022651))

[2018-08-16 18:48] #427 closed

[2018-08-17 12:44] #312 closed

[2018-08-17 12:51] dalg24 commented on #281
Closing since #352 got merged.  We decided not to go with CSR matrices.

[2018-08-17 12:51] #281 closed

[2018-08-17 12:53] dalg24 commented on #280
Closing since #345 and #371 made it into master.  Didn't go with Tpetra matrix though.

[2018-08-17 12:53] #280 closed

[2018-08-31 15:10] Rombur opened #429 "Add performance regression testing"
Now that we have spent a lot of time optimizing the search, we should monitor the performance to make sure that a future commit does not slow downs the code.

[2018-08-31 15:13] aprokop commented on #429
Any idea how to do that? I know one can use CMake to track some metrics, but not sure if that's what we want to do. We could take a look at how Kokkos does things, I think they have gold files and allow 5% deviation.

[2018-09-15 22:13] aprokop opened #434 "Missing test files in Meshfree tests"
Two exo files are missing: `coarse_sphere.exo` and `fine_sphere.exo`. This leads to build failure. I'm not sure why this hasn't been noticed before. It only matters when NetCDF is enabled.

[2018-09-16 03:05] dalg24 commented on #434
These have been added in 4965472.  Most likely we are doing something wrong in CMake (i.e. should disable tests that use them and not trying to copy them into the build dir if DTKData is not detected.

[2018-09-17 12:30] aprokop commented on #434
Yes, we should check for the presence of data submodule. I don't have it checked out.

[2018-09-18 14:35] Rombur commented on #133
Here is a tentative list. Please add/change the order of the bullet points when you are working on  the release. Hopefully after this release we have a list that can be followed step-by-step.
- [ ] Create a release branch: git branch dtk-X.Y
- [ ] Update Version.cmake on master
- [ ] Update Version.cmake on the branch: update DataTransferKit_VERSION_STRING and set DataTransferKit_ENABLE_DEVELOPMEN

[2018-09-18 17:34] #434 closed

[2018-09-18 19:12] aprokop opened #439 "Update copyright and authors for RTD"
Currently it has in `docs/source/conf.py`:
[code]

[2018-09-18 19:14] Rombur commented on #439
There is also a list of authors on the website: http://ornl-cees.github.io/DataTransferKit/about/

[2018-09-18 19:18] Rombur commented on #439
More authors here: https://github.com/ORNL-CEES/DataTransferKit/blob/master/docs/source/overview.rst

[2018-09-18 19:19] aprokop commented on #97
Irrelevant now.

[2018-09-18 19:19] #97 closed

[2018-09-20 14:13] Rombur opened #444 "Installation instruction"
Right now there is no easy way to find the installation instructions without going to RTD. Should we create an `INSTALL.md` or just link `docs/source/install.rst` in the `README.md`

[2018-09-20 14:29] aprokop commented on #444
I would just say inside README.md that full documentation including installation instructions is available on RTD.

[2018-09-20 15:24] Rombur opened #446 "Remove the website"
Let's remove the [website](http://ornl-cees.github.io/DataTransferKit). Everything there is duplicated in RTD and we can just create different versions of the RTD documentation.

[2018-09-20 20:23] Rombur opened #447 "Remove boost dependency"
We should remove the unnecessary boost dependency for the release:
 - boost.mpi
 - boost.serialization

[2018-09-20 20:31] dalg24 commented on #447
You mean remove boost dependency altogether or dependency on compiled boost.MPI and boost.serialization?

[2018-09-20 20:32] Rombur commented on #447
just boost.mpi and boost serialization

[2018-09-20 21:50] #447 closed

[2018-09-20 21:50] dalg24 commented on #447
Fixed by #449

[2018-09-21 14:39] Rombur commented on #446
I have already redirected the link on github to the RTD version DTK-3.0 or should we link to the latest version?

[2018-09-25 13:04] Rombur commented on #444
Done in #455 and #448

[2018-09-25 13:04] #444 closed

[2018-09-25 13:04] Rombur commented on #446
Done

[2018-09-25 13:04] #446 closed

[2018-09-25 13:05] Rombur commented on #439
Done in #442

[2018-09-25 13:05] #439 closed

[2018-09-26 15:45] dalg24 opened #457 "Check build sphinx documentation on Travis CI is broken"
Looks like build on Travis is always passing even though doc was clearly broken when @sslattery and I tried to build locally.

[2018-09-26 18:48] dalg24 opened #461 "Mixing camel case and lowercase interspersed with underscore in C API"
`DTK_git_commit_hash()`
`DTK_initialize_cmd()`
`DTK_is_initialized()`

[2018-09-27 18:31] dalg24 commented on #461
@sslattery should we fix or not?  (I can take care of it)

[2018-09-27 18:43] sslattery commented on #461
Yes - let's fix if possible

[2018-09-27 19:50] dalg24 opened #465 "Update Fortran interface for DTK_createMap with options string arg"
#456 broke Fortran interface without CI build failing.  Need Fortran tests for map create/apply.

[2018-09-27 21:02] aprokop commented on #465
Note: this will most likely require some test refactoring in `MapFactory/tests` similar to how things done in `Interface/tests`.

[2018-09-28 21:30] aprokop opened #466 "Examine possible use of ArborX in Exawind/TIOGA"
Many of ExaWind project simulations operate on overset meshes. Such simulations perform search operation every time step to establish the connectivity between meshes. This may take a significant amount of time (according to Shreyas, it may take 20-30% of time in some simulations).

From what I understand, the search has three steps:
1. Posing the problem
   What to search? The boundaries of one me

[2018-09-28 22:58] #461 closed

[2018-10-01 13:02] #197 closed

[2018-10-01 18:15] aprokop opened #468 "Trilinos as TPL"
In order to make progress on #451, we should decide on the following questions:

1. Do we want to build DTK only outside of Trilinos, or do we want to allow building within?
2. [Depends on 1.] Do we want to use TriBITS or pure CMake?

[2018-10-02 21:27] dalg24 commented on #226
Closed by #470 and `nanoflann` branch I pushed to my fork of DTK

[2018-10-02 21:27] #226 closed

[2018-10-04 14:03] Rombur commented on #126
Let's close this. We don't have STK adapter anymore.

[2018-10-04 14:03] #126 closed

[2018-10-04 14:05] Rombur commented on #308
Fixed by #472

[2018-10-04 14:05] #308 closed

[2018-10-04 14:06] aprokop commented on #126
@Rombur This is not about STK, it's about the fact the subpackage dependencies are not handled properly. I don't know if that only concerns subpackages, or affects packages too.

[2018-10-08 16:28] aprokop commented on #468
An additional question is to decide on the testing framework.

[2018-10-08 18:27] sslattery opened #477 "Check that all map and user handles have been destroyed when `DTK_Finalize()` is called"
We do not check that all handles have been destroyed. I think we should check this and return an error code from `DTK_finalize()` indicating whether or not all handles have been destroyed.

[2018-10-09 20:46] aprokop commented on #206
I would like to resurrect this discussion. We need to decide on what to instantiate on when moving to Trilinos as TPL. In addition, as Trilinos moves to signed 64-bit global ordinals, is there a reason not to follow it there?

[2018-10-09 20:58] dalg24 commented on #206
Can't think of any reason atm.

[2018-10-09 21:00] sslattery commented on #206
Neither can I.

[2018-10-09 21:44] dalg24 opened #480 "Make our GPU enabled image derive from nvidia/cuda instead of extending ci/dev base image"
c.f. #473 and issues with CUDA versions from 9.2 onwards
c.f. #451 to install Trilinos with CUDA enabled

[2018-10-11 15:34] sslattery commented on #421
resolved by #476

[2018-10-11 15:34] #421 closed

[2018-10-11 15:39] sslattery commented on #457
@dalg24 was this fixed with #459?

[2018-10-11 15:52] sslattery commented on #468
I tend to agree with @Rombur here regarding building outside of trilinos and using cmake. I'm fine with Gtest or Boost for testing - I'll defer to @dalg24 and @Rombur on the testing framework

[2018-10-11 16:19] dalg24 commented on #457
No

[2018-10-24 17:35] #206 closed

[2018-10-24 22:00] aprokop commented on #237
DTK's compatibility was recorded at [xsdk-policy-compatibility](https://github.com/xsdk-project/xsdk-policy-compatibility/blob/master/dtk-policy-compatibility.md).

[2018-10-24 22:00] #237 closed

[2018-10-24 22:01] aprokop commented on #145
Closing as this is just a very minor inconvenience for Docker newbies.

[2018-10-24 22:01] #145 closed

[2018-10-24 22:02] aprokop commented on #41
Is this still relevant, or could we close it?

[2018-10-24 22:03] aprokop commented on #216
Done. There are still multiple `*.tmpl` files, but most of the duplicated code is gone.

[2018-10-24 22:03] #216 closed

[2018-10-24 22:04] aprokop commented on #137
Just giving up on this.

[2018-10-24 22:04] #137 closed

[2018-10-25 12:53] #41 closed

[2018-10-26 21:25] aprokop opened #487 "Add include-what-you-use test"

[2018-10-31 17:43] aprokop opened #490 "Improve sort interface"
We want flexibility in terms of doing the sort in-place, out-place, or doing sort with getting permutation out.

[2018-12-03 18:21] Rombur opened #502 "SVD bug"
I have installed CUDA 10 on my destkop and everything works fine except for SVD. Here is the error, I get

[code]

[2018-12-03 18:49] Rombur commented on #502
It seems the problem is not due to CUDA 10 but it appears with the latest master of Trilinos

[2018-12-03 18:56] dalg24 commented on #502
This is the commit that introduces the assertion that fails: https://github.com/kokkos/kokkos/commit/a925976a4b7b04927789d13ccb4609a80f25b33c

@aprokop Would you please look at it when you get a chance?

[2018-12-05 23:07] aprokop commented on #502
Can somebody test kokkos/kokkos#1927

[2018-12-06 00:41] dalg24 commented on #502
Nah that's not it.
[code]

[2018-12-07 02:45] crtrott commented on #502
Hi, can we get reproducer guidelines, and possibly set up a cal to track this down? We recently tightened the conditions for getting block sizes for CUDA right. There were tons of places where you could silently non-executing code due to invalid launch parameters. We potentially did something wrong in the logic which excludes a previously working use case, in which case we need to fix that.

[2018-12-18 18:51] dalg24 commented on #429
Benchmark is still running and logging time measurements but it won't make the Jenkins build fail anymore as of #507.  The check is just not reliable enough and prevent us from merging code.

[2018-12-20 16:49] dalg24 opened #510 "Enable indexing directly from point clouds"
c.f. #508 and #509

[2018-12-22 00:48] dalg24 opened #514 "Need to assess whether building a bvh from a rank-2 view impacts performance"
c.f. https://github.com/ORNL-CEES/DataTransferKit/pull/513#discussion_r243712391

[2018-12-31 13:53] Rombur commented on #510
I think this can be closed right?

[2018-12-31 13:54] Rombur opened #515 "Update Discretization::PointSearch to use points directly"
With #510 there is no need to create boxes to search for points.

[2018-12-31 14:08] dalg24 commented on #510
Not before #513 is merged

[2019-01-03 19:45] #510 closed

[2019-01-03 20:04] dalg24 commented on #514
Per https://github.com/ORNL-CEES/DataTransferKit/pull/513#discussion_r243726246 and following posts on the discussion, there is a cost but it vanishes as the size of the problem grows.

#513 was merged as is with `Traits::Access<Rank2View>::get(i)` returning a point by value hence making a copy.  We intend to revisit this in the future.

[2019-01-03 20:06] #514 closed

[2019-01-03 20:12] dalg24 opened #517 "Document access traits for spatial indexing"
Also provide an example with custom user data.
Discuss that `primitives` is captured by value by lambdas/functors that execute on the device.

[2019-01-04 19:14] Rombur opened #518 "Update copyright"
We need to update the copyright everywhere and replace `2018` by `2019`.

[2019-01-11 21:56] Rombur opened #519 "Interface does not support gcc 8.2"
I tried to compiled DTK with gcc 8.2 but I get tens of error from the `Interface` package. There are all similar to the one below
[code]
`Interface` is the only package which doesn't work. If I comment all the bugged lines, I can compile everything else and pass the tests.

[2019-01-17 23:12] aprokop opened #523 "Update RTD hooks"
https://docs.readthedocs.io/en/latest/webhooks.html#webhook-github-services

[2019-01-18 18:45] #519 closed

[2019-01-21 17:43] dalg24 commented on #518
Fixed by #525

[2019-01-21 17:43] #518 closed

[2019-01-21 18:09] dalg24 commented on #523
Done

[2019-01-21 18:09] #523 closed

[2019-01-23 15:48] #480 closed

[2019-01-23 19:33] #502 closed

[2019-03-15 14:08] aprokop opened #533 "Add Kokkos profiling regions to BVH"
Kokkos has [profiling regions](https://github.com/kokkos/kokkos-tools/wiki/Profiling-Hooks) that can be stacked. I propose adding the following regions:
- A region encompassing full BVH construction
  Is placed inside the constructor
- Regions encompassing each stage of BVH construction
  While some of the stages consist of a single parallel directive, some (like sorting) do not.
- A regions encom

[2019-03-15 15:00] sslattery commented on #533
Do they have their own profiling backends that implement the hooks or are there implementations for standard profilers?

[2019-03-15 15:09] aprokop commented on #533
Both. They have simple timer outputs, and one can plug in VTune and others.

[2019-03-22 13:47] dalg24 opened #539 "Tree visualization"
Related to #535 and #538

Writing down here some of the possible improvements so we can share and I don't forget.
* Add composite visitor to be able to apply multiple visitors within a single traversal.  Two options here, inheritance (yuk but easy) or type erasure (harder but fun)
* Implement a visitor that prints out directly the matrices that show what node (col) have been visited for each query

[2019-04-09 21:23] #466 closed

[2019-04-09 21:25] #517 closed

[2019-04-09 21:26] #539 closed

[2019-04-09 21:26] aprokop commented on #466
Issue moved to ArborX repo.

[2019-04-09 21:27] aprokop commented on #517
Issue moved to ArborX repo.

[2019-04-09 21:27] aprokop commented on #539
Issue moved to ArborX repo.

[2019-04-09 22:09] aprokop commented on #533
Closing as it moved to arborx/arborx#11

[2019-04-09 22:09] #533 closed

[2019-05-07 17:29] PeterK26 opened #556 "Installing DTK with Libmesh Adapters"
I'm trying to install DTK on a local machine running Ubuntu. Configuration is successful and installation proceeds normally until reaching the Libmesh adapters. Despite having already installed and tested Libmesh, it looks like some of its source files cause an error. The errors I get from make are:

 #define libmesh_make_unique std::make_unique

This type of error occurs in multiple files

make[2

[2019-05-07 17:31] dalg24 commented on #556
Try to configure with `-D Trilinos_CXX11_FLAGS="-std=c++14"`

[2019-05-07 17:34] PeterK26 commented on #556
Should I still be using `-D Trilinos_ENABLE_CXX11:BOOL=ON` as suggested in the installation page? Or is the a CXX14 version?

[2019-05-07 17:40] dalg24 commented on #556
`std::make_unique_ptr` is only available since C++14.
What version of Trilinos are you using?  `CXX11` has been the default for a while now.

[2019-05-07 17:44] PeterK26 commented on #556
I'm using version 12.13. I was using that command since it's given in the example configure script from [the installation instructions](http://ornl-cees.github.io/DataTransferKit/about/)

[2019-05-07 17:48] PeterK26 commented on #556
I added `-D Trilinos_CXX11_FLAGS="-std=c++14"` to my configure options and it looks like it changed the flag to c++14. Now I'm trying to install

[2019-05-07 18:02] sslattery commented on #556
Is the inclusion of `std::make_unique` a recent addition in LibMesh? It would seem the updated that in a recent release.

[2019-05-07 18:09] PeterK26 commented on #556
I'm not sure how recent it is. The way `std::make_unique` is implemented is supposed to be c++11 compatible. What LibMesh version was DTK designed to work with?

[2019-05-07 18:11] Rombur commented on #556
They may check if your compiler supports c++14, if it does they use `std::make_unique` otherwise they fall back to a different implementation. In that case you will get an error if you don't compile **all** your codes with c++14.

[2019-05-07 18:12] sslattery commented on #556
yeah that could be it. looking at the offending header this somehow must get activated:

[code]

[2019-05-07 18:13] PeterK26 commented on #556
Since adding the c++14 flag, I reach about the same point in installation, but with a different error.

         const libMesh::QuadratureType quadrature_type = libMesh::QGAUSS );

[2019-05-07 18:18] dalg24 commented on #556
Replace https://github.com/ORNL-CEES/DataTransferKit/blob/c3d58bc40b69626d9c68bb338daf59c147eaa44a/packages/Adapters/Libmesh/src/DTK_LibmeshEntityIntegrationRule.hpp#L51
with `#include <libmesh/quadrature_gauss.h>`

[2019-05-07 18:18] Rombur commented on #556
I guess they changed their interface. Maybe try an older version of Libmesh

[2019-05-07 18:19] dalg24 commented on #556
Or downgrade libmesh to v1.0.0

[2019-05-07 18:20] PeterK26 commented on #556
Thanks, if I get more errors then I'll downgrade

[2019-05-07 18:20] sslattery commented on #556
Not so sure: https://github.com/libMesh/libmesh/blob/8d1614a800e277d0f65fb4739d0cb73b0d19bc66/src/quadrature/quadrature_build.C#L71

[2019-05-07 18:20] sslattery commented on #556
it would seem it is supported still

[2019-05-07 18:23] sslattery commented on #556
note though that the enumeration style has changed slightly: https://github.com/libMesh/libmesh/blob/master/include/enums/enum_quadrature_type.h

Could this be an issue?

[2019-05-07 18:32] sslattery commented on #556
So after further analysis it looks like they have changed how their enumerations are included. Because they are now forward declared the assumption that we would get them included by including the quadrature header is no longer valid.

Our suggestion is to either try disabling `LIBMESH_FORWARD_DECLARE_ENUMS` (see https://github.com/libMesh/libmesh/blob/c36b43fe845698e39e3810292843483069863977/incl

[2019-05-07 18:38] PeterK26 commented on #556
Ok, thanks for the suggestions. If version 1.0.0 is known to work with DTK, then I'll just try installing with that

[2019-05-13 18:34] #556 closed

[2019-05-25 23:24] PeterK26 opened #557 "Are there any basic DTK example problems?"
I have DTK2.0 installed any it passes its self checks, but I'm still not too sure how to start running my own problems. I've looked at the docs for the C API, but a sample problem would be a lot more helpful. Are there any basic examples included anywhere in the installation?

So far I've used DTK through libMesh (there's a [solution transfer example](https://github.com/libMesh/libmesh/blob/master

[2019-05-28 13:55] sslattery commented on #557
This is the best example for using libmesh: https://github.com/ORNL-CEES/DataTransferKit/blob/dtk-2.0/packages/Adapters/Libmesh/example/tstMoabtoLibmeshParallelTransfer.cpp

Note that the target mesh in this case is libmesh while the source mesh uses Moab. You can use the target libmesh code as an example of how to replace the source mesh code with libmesh. The internal libmesh example you pointed

[2019-05-28 16:58] PeterK26 commented on #557
Thanks, that example looks very helpful.

[2019-05-30 17:06] #557 closed

[2019-06-11 15:27] aprokop commented on #332
@dalg24 Can this be simply closed, or do you want to move the table to ArborX?

[2019-06-17 19:49] PeterK26 opened #559 "Using mesh-to-geometry integral assembly mapping"
I'm trying to integrate my source mesh within the domains defined by the target mesh elements (the target mesh is coarser) and map the integrated solutions to the target mesh. This sounds a lot like "mesh-to-geometry integral assembly mapping" as mentioned in [this DTK paper](https://www.casl.gov/sites/default/files/docs/DTK_slattery_wilson_pawlowski_MC_Proceedings_2013.pdf). Other than this gener

[2019-07-03 18:32] Rombur commented on #515
This is actually what we are doing right now

[2019-07-03 18:32] #515 closed

[2019-10-09 22:50] #332 closed

[2019-10-09 22:50] #490 closed

[2019-12-08 07:14] ikalash opened #565 "Compilation error when building DTK as part of Trilinos with DTK 3.1"
When I try to build DTK versions newer than 3.0 as a part of Trilinos, I get the following configuration error:
[code]
Can you please look into this?

[2019-12-09 12:57] Rombur commented on #565
@ikalash When you cloned DTK, did you get the submodule using `git clone --recursive`? The file that is not found is from a new submodule in DTK. Can you check that there are files in `/home/ikalash/dtkBuilds/Trilinos/DataTransferKit/packages/Search/`

[2019-12-17 01:02] ikalash commented on #565
@Rombur : sorry for the delay in my response - I was at a workshop last week and did not get a chance to look into this until now.  You are right, I was missing the ArborX and DTKData repos.  I did not do ``git clone --recursive``, and it did not occur to me that other repos would be needed, as they are not needed in the version of DTK I've been using until now (v2).   Thanks for your help!

[2019-12-17 01:18] ikalash commented on #565
I closed this too soon...  seems I'm getting compilation errors now with branch dtk-3.1 due to missing headers:
[code]
Is yet another repo required to get the missing headers (e.g. DTK_LinearBVH_decl.hpp)?  I cloned the code as follows:
[code]

[2019-12-17 03:53] ikalash commented on #565
Seems this is not an issue with master, just v3.1.

[2019-12-17 13:12] Rombur commented on #565
No this should be fined. I am surprised you have problems because DTK-3.1 is used in spack. Can you show us what's your configuration?

[2019-12-17 18:56] ikalash commented on #565
I build DTK as a part of Trilinos, so I think the usage is slightly different than what you're used to.  Here is my configure script for building DTK using cmake as a part of Trilinos: https://github.com/SNLComputation/Albany/blob/master/doc/nightlyTestHarness/do-cmake-trilinos-mpi-camobap .

I may be OK using master branch if I can get the Albany code to build/run with it.  I was thinking of usin

[2019-12-17 19:55] Rombur commented on #565
That's the only way to build DTK right now.

We haven't implemented any of the adapters that were present in DTK v2.0 Won't that be a problem for you?

I'll look into it.

[2019-12-17 20:57] aprokop commented on #565
@ikalash Have you tried automatic URL rewriting (as explained [here](https://www.jvt.me/posts/2019/03/20/git-rewrite-url-https-ssh/), for example)?

[2019-12-17 20:59] Rombur commented on #565
This error makes no sense to me. I think that there was a problem when you pulled the submodule. The header `DTK_LinearBVH_decl.hpp` used to exist but that functionality was moved into `ArborX`. If you look at the [3.1 branch](https://github.com/ORNL-CEES/DataTransferKit/tree/dtk-3.1/packages). You can see that the `Search` package points to `ArborX` and the name of the file is `ArborX_LinearBVH.h

[2019-12-17 21:00] Rombur commented on #565
@aprokop We can easily fix that problem https://stackoverflow.com/questions/40841882/automatically-access-git-submodules-via-ssh-or-https/44630028

[2019-12-17 21:04] aprokop commented on #565
@Rombur We should certainly do that. I like the automatic URL rewriting too, though, as if it works, it would fix this problem for all other projects that one may use, instead of asking developers to fix them.

[2019-12-17 22:46] ikalash commented on #565
So looking at this more in the context of the Albany code: this may be a problem for us, yes.  We were using the STK adapter.  You will find what routines from DTK we were using here:

https://github.com/SNLComputation/Albany/blob/master/src/LCM/utils/dtk_interp_and_error/dtk_interp_and_error.cpp
https://github.com/SNLComputation/Albany/blob/master/src/LCM/utils/dtk_interp_and_error/interpolation_

[2019-12-18 01:39] ikalash commented on #565
You're right, the error doesn't make sense.  As a sanity check, I wiped my entire build directory and re-compiled - the error went away.  Previously I had only wiped out the CMake* files in my build directory which is usually sufficient but for some reason it was not the case here.

Please see my above question regarding STK adapters and migrating a code that uses dtk-2.0 and the STK adapters to a

[2019-12-18 15:42] Rombur commented on #565
DTK 3 does not support L2 projection but it looks like you are only using `Interpolation`. I think that it's possible to move to the current version of DTK but it will require quite a bit of work. If it's something you want, we should probably work with you to make it happen.

May I ask why do you want to switch to DTK 3?

[2019-12-18 15:52] ikalash commented on #565
@Rombur : it's reassuring to know that it is possible to get the code working with DTK 3.  I guess we would need to convert all the data that we obtain from STK currently into some alternate data structures that DTK works with now that the STK adapters are gone - is that more or less correct?

Let me check with some of my colleagues on whether it's worth doing this and get back to you.

The main r

[2019-12-18 16:08] Rombur commented on #565
Yes, most of the work will be to extract the data from STK but there is also a few other changes in the interfaces.

I _think_ that you should just change this [line](https://github.com/ORNL-CEES/DataTransferKit/blob/dtk-2.0/CMakeLists.txt#L17) but since we have never tested the code with other types I am not sure it will work.

[2019-12-18 21:50] ikalash commented on #565
You were close - I also needed to change the EntityId and SupportId in packages/Interface/src/Client/DTK_Types.hpp  - otherwise there were link errors.  I was able to get DTK to build with GO = long long w/o any changes to Trilinos, which serves my purposes for now.  I make take you up on upgrading our code to a newer DTK sometime in the future, but not right now, I think.  Thanks for your help!

[2019-12-18 21:50] #565 closed

[2020-03-25 16:58] #487 closed

[2020-07-15 21:03] mattbement opened #572 "NearestNeighborOperator indexing error"
Was trying to use the nearest neighbor operator and was hitting 'Constructor for Kokkos View 'indices' has mismatched number of arguments. Number of arguments = 0 but dynamic rank = 1'.  Talked with Damien, and this was caused by use of deprecated Kokkos code.  Diff below is a partial fix, but there's also a problem with line 165 in DTK_DetailsNearestNeighborOperatorImpl.hpp that needs more invest

[2020-07-15 21:04] Rombur commented on #572
Yeah we have PR (https://github.com/ORNL-CEES/DataTransferKit/pull/570) that fixes all of that but we need to fix something in ArborX first

[2020-07-15 21:07] masterleinad commented on #572
I think the problems here a rather fixed by https://github.com/ORNL-CEES/DataTransferKit/pull/568.

[2020-07-16 14:03] Rombur commented on #572
Closing since this is fixed in master. Let us know if you have other problems.

[2020-07-16 14:03] #572 closed

[2020-08-02 20:11] mattbement opened #575 "NearestNeighborOperator_def.hpp search tree use inconsistent with ArborX_DistributedSearchTree.hpp"
https://github.com/ORNL-CEES/DataTransferKit/blob/2ffa27babf694737cba147fd66842dba1f586a87/packages/Meshfree/src/DTK_NearestNeighborOperator_def.hpp#L36-L37
is not consistent with  ArborX_DistributedSearchTree.hpp, at least for the ArborX hash that's in the repo.

[2020-08-02 21:29] aprokop commented on #575
@mattbement How is it not consistent? There is an overload for `DistributedSearchTree`.

[2020-08-02 23:59] mattbement commented on #575
Nevermind - I was misinterpreting a compiler error message.  Relative to an older version of DTK, I had to add ::device_type to my Kokkos::HostSpace template paramater.

[2020-08-02 23:59] #575 closed

[2020-08-03 00:14] dalg24 commented on #575
Related to arborx/ArborX#349

[2020-08-07 20:02] Rombur opened #577 "Spline Operator"
I have extracted the equations we need to implement from Stuart's paper:
`Mesh-free data transfer algorithms for partitioned multiphysics problems: Conservation, accuracy, and
parallelism`. The equations are in the following file: [spline.pdf](https://github.com/ORNL-CEES/DataTransferKit/files/5043409/spline.pdf)

[2020-08-10 02:49] mattbement opened #578 "MPI communicators and the least squares and nearest neighbor operators"
OK - not really an "issue".  More of a question. What's the rational behind supplying a single communicator to the the nearest neighbor and least squares operator? It seems like it would be good to provide the communicator that source_points lives on and the communicator that target_points lives on separately.  Let me explain why.  For the parallel in time stuff, I've got a bunch of "simulations".

[2020-08-10 13:34] aprokop commented on #578
It's an interesting observation, for sure. I agree that a general case with different communicators makes sense. It would mean that we would simply use this communicators to create a union in DTK, as you do that outside right now.

[2020-08-10 14:01] sslattery commented on #578
We used to have this comm union capability in an older DTK but the user always gave us a third communicator for the global execution scope of the operator (which was the union). I guess if we just duplicate `MPI_COMM_WORLD` we could create the union from that and avoid hangs?

[2020-08-10 14:02] sslattery commented on #577
Note there were some tricks to get this to scale for the off-diagonal blocks. Also you could apply some of the scaling you guys did in moving least squares which should make the linear solve better condition.

[2020-09-08 19:38] mattbement opened #580 "Moving least square operator problem..."
For the simple test program below, I get an error in MPI_Waitall.  If I switch to the nearest neighbor operator, everything works as expected.
[code]

[code]

[2020-09-08 21:06] sslattery commented on #580
Can you try an MPI barrier on `transfer_comm` right before you free that communicator at the end of `main`? I want to make sure there's not some kind of barrier missing here.

[2020-09-08 21:09] sslattery commented on #580
OK maybe that's not it. I'll cross reference this with out unit tests.

[2020-09-08 21:13] sslattery commented on #580
@Rombur @masterleinad Matt's problem has sources only on rank 0 and targets only on rank 1. I don't think we have a good test for this one. Matt's test is pretty simple and should be easy to add to the unit tests.

[2020-09-08 21:21] mattbement commented on #580
At Stuart's suggestion, if I uncomment the intialization of coord0 and coord1 to 0 length views, things seem to work fine.  Note that the nearest neighbor operator worked fine without  having to initialize these to 0 length.

[2020-09-08 21:32] sslattery commented on #580
@Rombur @masterleinad Should we support uninitialized views and assume them to be size 0?

[2020-09-09 22:19] masterleinad commented on #580
This would have failed with DBC in place (and I think that should be enabled in Debug mode by default).
In general, I would consider any use of uninitialized `Kokkos::View` objects a user error.

[2020-09-09 22:38] dalg24 commented on #580
Would you please post a reference to the assertion that you expect would fail?

[2020-09-09 22:40] masterleinad commented on #580
https://github.com/ORNL-CEES/DataTransferKit/blob/d7a54fbfa64a6960467ce0bf556956f25c35fe58/packages/Meshfree/src/DTK_MovingLeastSquaresOperator_def.hpp#L38-L41

[2020-09-11 01:48] aprokop opened #582 "Update copyright year: 2019 -> 2020"

[2020-09-11 14:28] #582 closed

[2020-09-16 12:27] #577 closed

[2020-09-17 18:07] masterleinad opened #586 "Decide on version to use for xSDK release"
It seems that both `master` and 3.1-rc1 are currently failing for xSDK (https://github.com/xsdk-project/xsdk-issues/issues/108#issuecomment-694401442). We should figure out what we want to have in the xSDK release and fix the issues.

[2020-09-17 18:33] aprokop commented on #586
Aren't they failing because of the missing submodule?

[2020-09-17 18:34] masterleinad commented on #586
I haven't checked yet what needs to be done.

[2020-09-17 18:39] aprokop commented on #586
From what i see in spack, submodules are only enabled when cloning master branch. Versions are pulling releases. As releases done using github, they likely don't contains tribits submodule.

[2020-09-17 19:07] masterleinad commented on #586
I think we just need to add the additional dependencies introduced for the SplineInterpolationOperator to the spack package or use a commit before that. I am not quite sure if we should have a tagged commit for that or not.

[2020-09-17 19:57] aprokop commented on #586
Agreed about dependencies, and we probably should tag and make a release, making those dependencies version dependent.

[2020-09-17 19:58] masterleinad commented on #586
I'm building it right now.

[2020-09-18 13:52] masterleinad commented on #586
Anyone opposed to tagging the commit before SplineInterpolationOperator for a release to be used by xSDK? That would likely be easiest.

[2020-09-19 13:25] #586 closed

[2020-10-15 18:24] gahansen opened #587 "Compile error in DTK_SplineOperator_SERIAL.cpp"
I am compiling VOTD DTK (64e2257) against VOTD Trilinos (4fc95b9), and I have encountered a compilation error after configuring a base build using the options:

    ...
    -D Trilinos_EXTRA_REPOSITORIES="DataTransferKit" \
    -D Trilinos_ENABLE_DataTransferKit=ON \
    -D DataTransferKit_ENABLE_DBC=ON \
    -D DataTransferKit_ENABLE_TESTS=ON \
    -D DataTransferKit_ENABLE_EXAMPLES=ON \
    ...

[2020-10-15 18:35] Rombur commented on #587
Thanks for reporting the issue. This looks like a bug in our end.

I see in the path of the directory that you are using that you are working with albany. Albany uses `DTK 2.0` and the bug is in `master`. `DTK 2.0` and `master` are not compatible so make sure that you are using the correct version.

[2020-10-15 18:44] gahansen commented on #587
Thanks Bruno. We're looking at using DTK-3.0 for some mesh to mesh transfer operations to support the Alegra project, I'm building in the Albany project space to leverage my Trilinos clone that I have in there already. Please let me know if I can pass on any more info on this, it looks like to core of DTK might have compiled and I might be in one of the tests or examples.

[2020-10-15 21:00] #587 closed

[2020-10-16 14:26] gahansen opened #589 "Compile error in ExodusProblemGenerator_def.hpp"
I'm almost at the end of the base compile:

[100%] Building CXX object DataTransferKit/packages/Meshfree/test/CMakeFiles/DataTransferKit_NearestNeighborExodusGenerator.dir/tstNearestNeighborExodusGenerator.cpp.o

Ran into the attached compilation error:

[output.txt](https://github.com/ORNL-CEES/DataTransferKit/files/5392292/output.txt)

Machine and compilers same as in #587

[2020-10-16 14:34] aprokop commented on #589
Here's the actual error:
[code]

[2020-10-16 15:58] gahansen opened #590 "Archive creation error - OSX 10.13.6"
I am doing a DTK (8b8baa5) build inside Trilinos (4fc95b9), using OSX 10.13.6 and Apple LLVM version 10.0.0. Here are my DTK build options:

    -D Trilinos_EXTRA_REPOSITORIES="DataTransferKit" \
    -D Trilinos_ENABLE_DataTransferKit=ON \
    -D DataTransferKit_ENABLE_DBC=ON \
    -D DataTransferKit_ENABLE_TESTS=ON \
    -D DataTransferKit_ENABLE_EXAMPLES=ON \

It appears that during the build, I

[2020-10-16 16:04] aprokop commented on #590
@gahansen Did you clone DTK with submodules? Is it possible that your `dtk/packages/Search is empty`?

[2020-10-16 16:27] gahansen commented on #590
@aprokop , I used the

      git clone --recursive git@github.com:ORNL-CEES/DataTransferKit.git

command to clone. There is a lot of stuff under "DataTransferKit/packages/Search", here is the ls-lR:

[rec_ls.txt](https://github.com/ORNL-CEES/DataTransferKit/files/5393009/rec_ls.txt)

[2020-10-22 16:41] #589 closed

[2021-01-08 23:12] dalg24 opened #594 "Compile issue with Fortran bindings using IBM XL"
See xsdk-project/xsdk-issues#94

[2021-01-20 12:41] sethrj commented on #594
@dalg24 or @aprokop : I'm making time to debug this on Summit, but the [build documentation](https://datatransferkit.readthedocs.io/en/latest/install.html) seems out of date -- even the note in the docs about the configure possibly being out of date is out of date 😆 ("You can always refer to scripts/docker_cmake" which no longer exists.)

Can I replicate this with trilinos as a TPL? Is there an ex

[2021-01-20 14:58] aprokop commented on #594
I don't think any of us have built trilinos/dtk/arborx with xl on Summit. I'm pretty sure current version of arborx cannot even be built with xl (see arborx/ArborX#132). There's simply lack of interest in working around the fact that XL does not properly support C++14.

If we want to move forward, however, we need to figure out first which version of DTK was compiled in the xSDK issue. Judging by

[2021-01-20 15:57] sethrj commented on #594
So if Trilinos and DTK C++ won't build with XL, why is the complaint about the fortran wrapper failure?

[2021-01-20 16:13] aprokop commented on #594
Trilinos may build. And it's possible that that version of DTK may also build, but not certain. I cannot say anything for certain.

[2021-01-20 16:14] masterleinad commented on #594
I would just ask @luszczek for his configuration with spack.